.tutorial
  list-style-type: none
  line-height: 1em
  font-size: 1em
  margin: 0

.conferencetutorial
  position: relative

  a
    font-size: 1em!important
    line-height: 1em !important
    padding: 0 !important
    background: none !important

  .content
    background: none !important
    
  p
    padding: 0px 15px 0px 15px !important
    color: white
    font-weight: 300

form.conferenceform
  padding: 10px 30px 0px 30px !important

  label
    color: white !important
    margin-bottom: 0px
    margin-right: 0
    width: 80%
    vertical-align: middle

  label:first-child
    color: white !important
    margin-bottom: 10px

p.externalconference
  padding: 10px 20px 0px 30px !important
  color: white
  font-weight: 300