.panel
  background-color: white
  position: relative
  padding: 0
  margin-top: 5px !important
  border: 1px solid $lightgrey-color

  h2
    font-size: 1.6em
    color: $orange-color
    margin: 0

  p
    color: black

  p.location
    color: $grey-color
    margin: 0

  .arrowcontainer
    position: absolute
    background-color: $orange-color
    height: 100%
    width: 25px
    top: 0
    right: 0

    .arrow
      position: absolute
      top: 45%
      left: 8px
      width: 0
      height: 0
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
      border-left: 10px solid white

  .thumbnail
    padding: 15px
    vertical-align: middle

  .informationbox
    padding: 15px
    padding-right: 35px

.panel:hover
  background-color: $lightgrey-color