@media (max-width:640px)
  .reveal-modal
    width: 100%
    left: 40%

.reveal-modal
  max-width: 1440px

  dl

  dd, dt
    color: white

  dt
    margin-top: 15px
    position: relative
    padding-left: 15px

  dd
    padding-left: 30px
    margin-bottom: 0

  dl.tabs
  
    a
      padding: 15px 0px 15px 0px

  .tabs-content > .active
    padding: 30px
    background-color: white !important

    h2, p
      color: black

    a
      color: $blue-color

  dl.accordion
    margin-top: 30px
    
    a
      padding: 15px 0px 15px 10px

  dl.accordion, dl.tabs

    dd
      padding-left: 0px

    dd.active

      a
        color: white

    a
      color: $grey-color
      font-size: 1em
      text-transform: uppercase
      height: 60px
      background: -webkit-linear-gradient($grey-color, $darkgrey-color) !important /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient($grey-color, $darkgrey-color) !important /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient($grey-color, $darkgrey-color) !important /* For Firefox 3.6 to 15 */
      background: linear-gradient($grey-color, $darkgrey-color) !important /* Standard syntax (must be last) */

    img
      margin-bottom: 15px

    .content

      h2, p
        color: black

      a
        background: white !important
        color: $blue-color
        height: 0
        text-transform: none
        padding: 0

.profileside
  background-color: $darkgrey-color

  img.profilephoto
    margin-bottom: 15px

  h2, p, a, i, li
    color: white

  h4
    color: $grey-color
    text-transform: uppercase

  hr
    border: 1px dotted $grey-color

  .button
    background-color: $orange-color
    height: 40px
    padding: 10px 0px 10px 0px

  ul.companyinformation
    list-style-type: none
    margin: 0

    li.phonenumber
      color: $orange-color
      font-size: 1.5em
      margin: 0

    .paddingbottom
      padding-bottom: 20px

.profileinformation
  padding: 0

.reveal-modal
  color: white !important

  h2
    color: white

.listarrow
  position: absolute
  top: 5px
  left: 0
  border-top: 8px solid transparent
  border-bottom: 8px solid transparent
  border-left: 8px solid $grey-color

.closeribbon
  position: absolute
  height: 30px
  width: 150px
  top: -10px !important
  right: -50px !important
  padding: 3px !important
  font-size: 1em

.closeribbon:after
  top: 30px

.profilenav
  
  dd
    width: 20%
    padding: 0

h2.profileheader
  margin-bottom: 30px
  font-weight: 700