<div class="panelmargin small-12 medium-12 large-9 columns">
  <dl class="accordion" data-accordion>
  <dd class="nopadding">
    <a href="#entertainment">
      <div class="small-12 columns filterpanel borderbottom">
        <div class="filterpanel small-8 medium-8 large-4 columns">
          <h2>Underhållning</h2>
        </div>
        <div class="filterpanel small-4 medium-4 large-8 columns text-right">
          <p class="show-for-large-up">Här hittar du underhållning till alla tillfällen. Du filtrerar listan genom att välja en eller flera kategorier.</p>
          <p class="hide-for-large-up">Dölj/Visa<br>filtrering</p>
        </div>
      </div>
    </a>
    <div id="entertainment" class="content">
      <div class="small-12 columns filterpanel">
        <div class="filterpanel small-12 medium-12 large-3 columns">
          <ul class="filtering">
            <li><input type="radio" name="filtering" value="All" id="filreingAll"><label for="filteringAll">Alla</label></li>
            <li><input type="radio" name="filtering" value="Company" id="filreingCompany"><label for="filteringCompany">Företagsevent</label></li>
            <li><input type="radio" name="filtering" value="Private" id="filreingPrivate"><label for="filteringPrivate">Privat</label></li>
          </ul>
        </div>
        <hr class="hide-for-large-up whiteline">
        <div class="filterpanel small-12 medium-12 large-3 columns">
          <ul class="filtering borderleft">
            <li><input id="artist" type="checkbox"><label for="artist">Artistförmedling</label></li>
            <li><input id="family" type="checkbox"><label for="family">Barn &amp; Familj</label></li>
            <li><input id="cirkus" type="checkbox"><label for="cirkus">Cirkus &amp; Variete</label></li>
            <li><input id="imitation" type="checkbox"><label for="imitation">Imitation &amp; <br class="show-for-large">Lookalike</label></li>
            <li><input id="broadcaster" type="checkbox"><label for="broadcaster">Konferencier / <br class="show-for-large-up">Programledare</label></li>
            <li><input id="magic" type="checkbox"><label for="magic">Magi &amp; Trolleri</label></li>

            <span class="hide-for-large-up">
            <li><input id="mingle-entertainment" type="checkbox"><label for="mingle-entertainment">Middags- och Mingelunderhållning</label></li>
            <li><input id="partyband" type="checkbox"><label for="partyband">Partyband &amp; Orkestar</label></li>
            <li><input id="pianobar" type="checkbox"><label for="pianobar">Pianobar</label></li>
            <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Pubunderhållning</label></li>
            <li><input id="showtime" type="checkbox"><label for="showtime">Scenshow / Showtime</label></li>
            <li><input id="showgroup" type="checkbox"><label for="showgroup">Showgrupper</label></li>
            <li><input id="standup" type="checkbox"><label for="standup">Standup &amp; Humor</label></li>
            <li><input id="singers-female" type="checkbox"><label for="singers-female">Sångartister, Kvinnliga</label></li>
            <li><input id="singers-male" type="checkbox"><label for="singers-male">Sångartister, Manliga</label></li>
            <li><input id="troubadour" type="checkbox"><label for="troubadour">Trubadur &amp; Vispop</label></li>
            <li><input id="tv-personalities" type="checkbox"><label for="tv-personalities">TV-kända profiler</label></li>
            </span>
          </ul>
        </div>
        <div class="large-3 columns show-for-large-up">
          <ul class="filtering">
            <li><input id="magic" type="checkbox"><label for="magic">Magi &amp; Trolleri</label></li>
            <li><input id="mingle-entertainment" type="checkbox"><label for="mingle-entertainment">Middags- och <br class="show-for-large-up">Mingel<span class="show-for-large">-</span><br class="show-for-large">underhållning</label></li>
            <li><input id="partyband" type="checkbox"><label for="partyband">Partyband &amp; <br class="show-for-large">Orkestar</label></li>
            <li><input id="pianobar" type="checkbox"><label for="pianobar">Pianobar</label></li>
            <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Pub<span class="show-for-large">-</span><br class="show-for-large">underhållning</label></li>
            <li><input id="showtime" type="checkbox"><label for="showtime">Scenshow / <br class="show-for-large-up">Showtime</label></li>
          </ul>
        </div>
        <div class="large-3 columns show-for-large-up">
          <ul class="filtering">
            <li><input id="showgroup" type="checkbox"><label for="showgroup">Showgrupper</label></li>
            <li><input id="standup" type="checkbox"><label for="standup">Standup &amp; <br class="show-for-large">Humor</label></li>
            <li><input id="singers-female" type="checkbox"><label for="singers-female">Sångartister, <br class="show-for-large">Kvinnliga</label></li>
            <li><input id="singers-male" type="checkbox"><label for="singers-male">Sångartister, <br class="show-for-large">Manliga</label></li>
            <li><input id="troubadour" type="checkbox"><label for="troubadour">Trubadur &amp; <br class="show-for-large">Vispop</label></li>
            <li><input id="tv-personalities" type="checkbox"><label for="tv-personalities">TV-kända <br class="show-for-large">profiler</label></li>
          </ul>
        </div>
      </div>
    </div>
  </dd>
  <dl>
</div>

<div class="panelmargin small-12 medium-12 large-9 columns">
  <dl class="accordion" data-accordion>
  <dd class="nopadding">
    <a href="#arrangers">
      <div class="small-12 columns filterpanel borderbottom">
        <div class="filterpanel small-8 medium-8 large-4 columns">
          <h2>Arrangörer</h2>
        </div>
        <div class="filterpanel small-4 medium-4 large-8 columns text-right">
          <p class="show-for-large-up">Här hittar du arrangörer som är proffs på att organisera, inspirera och administrera. Du filtrerar listan genom att välja en eller flera kategorier.</p>
          <p class="hide-for-large-up">Dölj/Visa<br>filtrering</p>
        </div>
      </div>
    </a>
    <div id="arrangers" class="content">
      <div class="small-12 columns filterpanel">
        <div class="filterpanel small-12 medium-12 large-4 columns">
          <ul class="filtering">
            <li><input id="artist" type="checkbox"><label for="artist">Affärsresor</label></li>
            <li><input id="family" type="checkbox"><label for="family">Aktivitetsarrangör</label></li>
            <li><input id="cirkus" type="checkbox"><label for="cirkus">Bröllpåskoordinator / <br class="show-for-large-up">Festarrangör</label></li>
            <li><input id="imitation" type="checkbox"><label for="imitation">Eventarrangör / Strateg</label></li>

            <span class="hide-for-large-up">
            <li><input id="broadcaster" type="checkbox"><label for="broadcaster">Externa Konferensarrangör / Programledare</label></li>
            <li><input id="magic" type="checkbox"><label for="magic">Konsertarrangör</label></li>
            <li><input id="mingle-entertainment" type="checkbox"><label for="mingle-entertainment">Management</label></li>
            <li><input id="partyband" type="checkbox"><label for="partyband">Mässarrangör</label></li>
            <li><input id="pianobar" type="checkbox"><label for="pianobar">Nöjesarrangör / Artistbokare</label></li>
            <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Virtuella möten / Onlineteknik</label></li>
            </span>
          </ul>
        </div>
        <div class="large-4 columns show-for-large-up">
          <ul class="filtering">
            <li><input id="broadcaster" type="checkbox"><label for="broadcaster">Externa <br class="show-for-large">Konferensarrangör / <br>Programledare</label></li>
            <li><input id="magic" type="checkbox"><label for="magic">Konsertarrangör</label></li>
            <li><input id="mingle-entertainment" type="checkbox"><label for="mingle-entertainment">Management</label></li>
            <li><input id="partyband" type="checkbox"><label for="partyband">Mässarrangör</label></li>
          </ul>
        </div>
        <div class="large-4 columns show-for-large-up">
          <ul class="filtering">
            <li><input id="pianobar" type="checkbox"><label for="pianobar">Nöjesarrangör / <br>Artistbokare</label></li>
            <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Virtuella möten / <br>Onlineteknik</label></li>
          </ul>
        </div>
      </div>
    </div>
  </dd>
  <dl>
</div>

<div class="panelmargin small-12 medium-12 large-9 columns">
  <dl class="accordion" data-accordion>
  <dd class="nopadding">
    <a href="#activities">
      <div class="small-12 columns filterpanel borderbottom">
        <div class="filterpanel small-8 medium-8 large-4 columns">
          <h2>Aktiviteter</h2>
        </div>
        <div class="filterpanel small-4 medium-4 large-8 columns text-right">
          <p class="show-for-large-up">Här hittar du aktiviteter till alla tillfällen. Du filtrerar listan genom att välja en eller flera kategorier.</p>
          <p class="hide-for-large-up">Dölj/Visa<br>filtrering</p>
        </div>
      </div>
    </a>
    <div id="activities" class="content">
      <div class="small-12 columns filterpanel">
        <div class="filterpanel small-12 medium-12 large-4 columns">
          <ul class="filtering">
            <li><input id="artist" type="checkbox"><label for="artist">Aktivitetsarrangörer</label></li>
            <li><input id="family" type="checkbox"><label for="family">Barn &amp; Familj</label></li>
            <li><input id="cirkus" type="checkbox"><label for="cirkus">Djur</label></li>
            <li><input id="imitation" type="checkbox"><label for="imitation">Hav &amp; Sjö</label></li>
            <li><input id="imitation" type="checkbox"><label for="imitation">Kreativt Skapande</label></li>

            <span class="hide-for-large-up">
            <li><input id="broadcaster" type="checkbox"><label for="broadcaster">Kroppo &amp; Själ</label></li>
            <li><input id="magic" type="checkbox"><label for="magic">Lek, Tävling &amp; Uppdrag</label></li>
            <li><input id="mingle-entertainment" type="checkbox"><label for="mingle-entertainment">Mat &amp; Dryckesaktiviteter</label></li>
            <li><input id="partyband" type="checkbox"><label for="partyband">Motor</label></li>
            <li><input id="pianobar" type="checkbox"><label for="pianobar">Musik</label></li>
            <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Sport</label></li>
            <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Upplevelser i stan</label></li>
            <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Vi kommer till er-aktiviteter</label></li>
            <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Äventyr &amp; Vildmark</label></li>
            </span>
          </ul>
        </div>
        <div class="large-4 columns show-for-large-up">
          <ul class="filtering">
            <li><input id="broadcaster" type="checkbox"><label for="broadcaster">Kroppo &amp; Själ</label></li>
            <li><input id="magic" type="checkbox"><label for="magic">Lek, Tävling &amp; Uppdrag</label></li>
            <li><input id="mingle-entertainment" type="checkbox"><label for="mingle-entertainment">Mat &amp; Dryckesaktiviteter</label></li>
            <li><input id="partyband" type="checkbox"><label for="partyband">Motor</label></li>
            <li><input id="pianobar" type="checkbox"><label for="pianobar">Musik</label></li>
          </ul>
        </div>
        <div class="large-4 columns show-for-large-up">
          <ul class="filtering">
            <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Sport</label></li>
            <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Upplevelser i stan</label></li>
            <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Vi kommer till <br class="show-for-large">er-aktiviteter</label></li>
            <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Äventyr &amp; Vildmark</label></li>
          </ul>
        </div>
      </div>
    </div>
  </dd>
  <dl>
</div>

<div class="panelmargin small-12 medium-12 large-9 columns">
  <dl class="accordion" data-accordion>
  <dd class="nopadding">
    <a href="#speeches">
      <div class="small-12 columns filterpanel borderbottom">
        <div class="filterpanel small-8 medium-8 large-4 columns">
          <h2>Föreläsare &amp; Talare</h2>
        </div>
        <div class="filterpanel small-4 medium-4 large-8 columns text-right">
          <p class="show-for-large-up">Här hittar du talare och förelasare samt tips på föreläsningar inom alla områden. Du filtrerar listan genom att välja en eller flera kategorier.</p>
          <p class="hide-for-large-up">Dölj/Visa<br>filtrering</p>
        </div>
      </div>
    </a>
    <div id="speeches" class="content">
      <div class="small-12 columns filterpanel">
        <div class="filterpanel small-12 medium-12 large-3 columns">
          <ul class="filtering">
            <li><input type="radio" name="filtering" value="Lecturer" id="filreingLecturer"><label for="filteringLecturer">Föreläsare</label></li>
            <li><input type="radio" name="filtering" value="LecturingTips" id="filreingLecturingTips"><label for="filteringLecturingTips">Föreläsnings-Tips</label></li>
            <li><input type="radio" name="filtering" value="SpeechMediation" id="filreingSpeechMediation"><label for="filteringSpeechMediation">Talarförmedling</label></li>
            <li><input type="radio" name="filtering" value="Moderator" id="filreingModerator"><label for="filteringModerator">Moderator</label></li>
          </ul>
        </div>
        <hr class="hide-for-large-up whiteline">
        <div class="filterpanel small-12 medium-12 large-3 columns">
          <ul class="filtering borderleft">
            <li><input id="artist" type="checkbox"><label for="artist">Affärsutveckling</label></li>
            <li><input id="family" type="checkbox"><label for="family">Friskvård &amp; Hälsa</label></li>
            <li><input id="cirkus" type="checkbox"><label for="cirkus">Kommunikation</label></li>
            <li><input id="imitation" type="checkbox"><label for="imitation">Personlig <br class="show-for-large">Utveckling</label></li>

            <span class="hide-for-large-up">
            <li><input id="mingle-entertainment" type="checkbox"><label for="mingle-entertainment">På Engelska</label></li>
            <li><input id="partyband" type="checkbox"><label for="partyband">Stress &amp; Konflikthantering</label></li>
            <li><input id="pianobar" type="checkbox"><label for="pianobar">Utbildning</label></li>
            <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Äventyr & Resor</label></li>
            <li><input id="showtime" type="checkbox"><label for="showtime">Övrigt</label></li>
            </span>
          </ul>
        </div>
        <div class="large-3 columns show-for-large-up">
          <ul class="filtering">
            <li><input id="mingle-entertainment" type="checkbox"><label for="mingle-entertainment">På Engelska</label></li>
            <li><input id="partyband" type="checkbox"><label for="partyband">Stress &amp; <br class="show-for-large">Konflikthantering</label></li>
            <li><input id="pianobar" type="checkbox"><label for="pianobar">Utbildning</label></li>
            <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Äventyr & <br class="show-for-large">Resor</label></li>
          </ul>
        </div>
        <div class="large-3 columns show-for-large-up">
          <ul class="filtering">
            <li><input id="showtime" type="checkbox"><label for="showtime">Övrigt</label></li>
          </ul>
        </div>
      </div>
    </div>
  </dd>
  <dl>
</div>