<footer>
  <div class="container">
    <div class="row">
      <div class="small-6 small-centered medium-4 medium-centered large-3 large-uncentered columns">
        <ul class="footerribbon">
          <li><a href="#"><div class="ribbon footer">Event</div></a></li>
          <li><a href="/conference.html"><div class="ribbon footer conferenceribbon">Konferens</div></a></li>
          <li><a href="/tickets.html"><div class="ribbon footer ticketribbon">Biljett</div></a></li>
          <li><a href="/backstage.html"><div class="ribbon footer backstageribbon">Backstage</div></a></li>
        </ul>
      </div>
      <div class="large-2 columns show-for-large-up">
        <ul class="footerlink">
          <li><a href="/index.html">Startsida</a></li>
          <li><a href="#">Om Eventmarket</a></li>
          <li><a href="#">Annonsera</a></li>
          <li><a href="#">Kontakta oss</a></li>
        </ul>
      </div>
      <div class="large-2 columns show-for-large-up">
        <ul class="footerlink">
          <li><a href="#">Tips &amp; Råd</a></li>
          <li><a href="#">Redaktionen</a></li>
          <li><a href="/photoarchive.html">Bildarkiv</a></li>
          <li><a href="#">Registrera din mailadress</a></li>
        </ul>
      </div>
      <div class="large-2 columns show-for-large-up">
        <ul class="footerlink">
          <li><a href="#">Skicka öppen förfrågan</a></li>
          <li><a href="/offers.html">Erbjudanden</a></li>
          <li><a href="#">Backstage</a></li>
        </ul>
      </div>
      <div class="large-3 small-12 columns">
        <a class="th socialmedia show-for-large-up" href="#">
          <img src="http://placehold.it/64x64">
        </a>
        <div class="row">
          <div class="large-12 columns">
            <a href="/"><img src="/images/logo-white.svg" class="logo right show-for-large-up"></a>
            <div class="row show-for-large-up">
              <div class="large-12 columns">
                <p class="legalnotice text-right">Copyright © 2013 Eventmarket.<br>Alla rättigheter förbehålls.</p>
              </div>
            </div>
            <div class="row hide-for-large-up">
              <div class="large-12 columns">
                <ul class="mobilelist text-center">
                  <li>Eventmarket Svenska AB</li>
                  <li class="contact">0589-180 95</li>
                  <li><a href="#" class="contact">info@eventmarket.com</a></li>
                  <li><a href="#">&raquo; Kontakta Oss</a></li>
                  <li><a href="" class="th socialmedia"><img src="http://placehold.it/64x64"></a></li>
                </ul>
                <p class="legalnotice text-center">Copyright © 2013 Eventmarket.<br>Alla rättigheter förbehålls.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <hr class="show-for-large-up">

    <div class="row">
      <div class="large-12 column show-for-large-up">
        <ul class="horizontallist text-center">
          <li>Eventmarket Svenska AB</li>
          <li>Västerlånggatan 1</li>
          <li>732 30 Arboga</li>
          <li class="contact">0589-180 95</li>
          <li><a href="#" class="contact">info@eventmarket.com</a></li>
          <li>org.nr: 556550-4015</li>
        </ul>
      </div>
    </div>
  </div>
</footer>