<div id="profileside" class="reveal-modal" data-reveal>
  
  <section class="profileside">
    <div class="row">
      <div class="small-12 columns">
        <h2 class="profileheader">World Trade Center</h2>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <img src="http://placehold.it/200x200" alt="" class="profilephoto">
        <h4>Kontakt</h4>
        <ul class="companyinformation">
          <li>World Trade Center</li>
          <li>Mikael Karlsson</li>
          <li>Citygatan 1</li>
          <li>123 45 Stockholm</li>
          <li>Stockholms Län</li>
          <li>Sverige</li>
        </ul>
        <ul class="companyinformation">
          <li class="phonenumber">079-324 03 97</li>
          <li class="phonenumber paddingbottom">8-500 12 34</li>
          <li><a href="#" class="button expand">Hemsida</a></li>
          <li><a href="#" class="button expand">E-post</a></li>
        </ul>
        <hr>
        <h4>Fakta</h4>
        <p>Sundbyberg, Stockholm</p>
        <ul class="companyinformation">
          <li><i class="#">Största Sällskap: 450</i></li>
          <li><i class="#">Antal Mötesrum: 5</i></li>
          <li><i class="#">Största möteslokal: 450</i></li>
          <li><i class="#">Sittande matgäster: 350</i></li>
          <li><i class="#">Mingel/stående: 500</i></li>
          <li><i class="#">Logi, antal bäddar: 45</i></li>
        </ul>
        <hr>
        <h4>Kategorier</h4>
        <dl>
          <dt>Aktiviteter<div class="listarrow"></div></dt>
            <dd>Mat &amp; Dryckesaktiviteter</dd>
            <dd>Motor</dd>
          <dt>Event &amp; Möteslokaler<div class="listarrow"></div></dt>
            <dd>Fest &amp; Bröllopslokaler</dd>
            <dd>Konferens</dd>
          <dt>Konferenslokaler<div class="listarrow"></div></dt>
            <dd>Konferens</dd>
            <dd>Fest/event</dd>
          <dt>Underhållning<div class="listarrow"></div></dt>
            <dd>Magi/Trolleri</dd>
            <dd>Standup</dd>
        </dl>
      </div>
      <div class="small-9 columns">
        <ul class="profile-orbit" data-orbit data-options="bullets:false; timer: false; slide_number: false;">
          <li>
            <img src="http://placehold.it/1440x400" alt="slide 1" />
            <div class="orbit-caption text-right">
              Caption One.
            </div>
          </li>
          <li>
            <img src="http://placehold.it/1440x400" alt="slide 2" />
            <div class="orbit-caption text-right">
              Caption Two.
            </div>
          </li>
          <li>
            <img src="http://placehold.it/1440x400" alt="slide 3" />
            <div class="orbit-caption text-right">
              Caption Three.
            </div>
          </li>
        </ul>
        <dl class="tabs profilenav" data-tab>
          <dd class="active"><a href="#presentation" class="text-center">Presentation</a></dd>
          <dd><a href="#extraheader" class="text-center">Extra</a></dd>
          <dd><a href="#offer" class="text-center">Erbjudanden</a></dd>
          <dd><a href="#map" class="text-center">Karta</a></dd>
          <dd><a href="#media" class="text-center">Media</a></dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" id="presentation">
            <h2>Om World Trade Center</h2>
            <p>World Trade Center Stockgolm strävar efter det perfekta. Det perfekta läget. Det perfekta mötet. Det perfekta serviceutbudet.</p>
            <p>Mitt i Stockholm city, 20 minuter från Arlandas landnings-och startbanor och på tröskeln till storstadens utbud, finns World Trade Center med kontor i toppklass och nyrenoverade effektiva konferenslokaler och eventlokaler. Med personal, service och faciliteter i perfekt anda</p>
            <p>Med ambitionen att vara en av landets ledande arrangör av konferenser och möten erbjuder vi också välkompenerade menyer - dag som kväll. Från Piazzan, den perfekta lunchrestaurangen, till WTC Restaurang som serverar á la carte och affärslunch. För sittningar på tu man hand eller fest för många.</p>
          </div>
          <div class="content" id="extraheader">
            <p>Second panel content goes here...</p>
          </div>
          <div class="content" id="offer">
            <img src="http://placehold.it/900x300" alt="">
            <p>World Trade Center Stockgolm strävar efter det perfekta. Det perfekta läget. Det perfekta mötet. Det perfekta serviceutbudet.</p>
            <p>Mitt i Stockholm city, 20 minuter från Arlandas landnings-och startbanor och på tröskeln till storstadens utbud, finns World Trade Center med kontor i toppklass och nyrenoverade effektiva konferenslokaler och eventlokaler. Med personal, service och faciliteter i perfekt anda</p>
            <p>Med ambitionen att vara en av landets ledande arrangör av konferenser och möten erbjuder vi också välkompenerade menyer - dag som kväll. Från Piazzan, den perfekta lunchrestaurangen, till WTC Restaurang som serverar á la carte och affärslunch. För sittningar på tu man hand eller fest för många.</p>
            <p>För bokning, ring 079-324 03 97 eller <a href="#">maila oss</a>.</p>
            <hr>
            <img src="http://placehold.it/900x300" alt="">
            <p>World Trade Center Stockgolm strävar efter det perfekta. Det perfekta läget. Det perfekta mötet. Det perfekta serviceutbudet.</p>
            <p>Mitt i Stockholm city, 20 minuter från Arlandas landnings-och startbanor och på tröskeln till storstadens utbud, finns World Trade Center med kontor i toppklass och nyrenoverade effektiva konferenslokaler och eventlokaler. Med personal, service och faciliteter i perfekt anda</p>
            <p>Med ambitionen att vara en av landets ledande arrangör av konferenser och möten erbjuder vi också välkompenerade menyer - dag som kväll. Från Piazzan, den perfekta lunchrestaurangen, till WTC Restaurang som serverar á la carte och affärslunch. För sittningar på tu man hand eller fest för många.</p>
            <p>För bokning, ring 079-324 03 97 eller <a href="#">maila oss</a>.</p>
          </div>
          <div class="content" id="map">
            <p>Fourth panel content goes here...</p>
          </div>
          <div class="content" id="media">
            <p>Fourth panel content goes here...</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <a class="close-reveal-modal">&#215;</a>
</div>