<div class="row hide-for-large-up">
  <div class="small-12 columns profileinformation">
    <dl class="accordion">
      <dd>
        <a href="#" class="gradientbutton">Familj</a>
      </dd>
      <dd>
        <a href="#" class="gradientbutton">Festivaler</a>
      </dd>
      <dd>
        <a href="#" class="gradientbutton">Mässor &amp; utställningar</a>
      </dd>
    </dl>
  </div>
</div>

<div id="ticketModal" class="ticket-modal reveal-modal medium" data-reveal>
  <div class="row header padding15">
    <div class="small-2 medium-2 large-1 columns"><h2>23</h2></div>
    <div class="small-2 medium-2 large-1 columns"><p>Okt<br>2013</p></div>
    <div class="small-2 medium-2 large-1 columns"><p>Ons<br>19:00</p></div>
    <div class="small-6 medium-6 large-9 columns"><h2>Ladies Night</h2></div>
  </div>
  <div class="row padding15">
    <div class="small-12 medium-12 large-9 columns">
      <p>
        <b>Aros Congress center</b><br>
        <span class="uc">Västerås</span><br>
        Sweden
      </p>
      <p>Årets roligaste tjejfest!<br>
      Ladies Night bjuder för åttonde året i rad på mingel, förfest, party och show.</p>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <img src="http://placehold.it/300x300" class="show-for-large-up">
      <div class="cutoutribbon"><a href="#">Köp biljetter</a></div>
    </div>
  </div>
  <div class="row">
    <div class="tabscontainer small-12 columns">
      <dl class="tabs profilenav" data-tab>
          <dd class="active"><a href="#presentation" class="text-center">Mer Info</a></dd>
          <dd><a href="#extraheader" class="text-center">Priser</a></dd>
          <dd><a href="#offer" class="text-center">Fler Datum</a></dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" id="presentation">
            <p>First panel content goes here...</p>
          </div>
          <div class="content" id="extraheader">
            <p>Second panel content goes here...</p>
          </div>
          <div class="content" id="offer">
            <table>
              <thead>
                <tr>
                  <th width="200">Datum</th>
                  <th>Evenemang</th>
                  <th width="250">Plats</th>
                  <th width="100"></th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>
                    <div class="row">
                      <div class="small-12 medium-4 columns">
                        <h3>23</h3>
                      </div>
                      <div class="small-12 medium-4 columns">
                        <b>Okt<br>2013</b>
                      </div>
                      <div class="small-12 medium-4 columns">
                        <b>Ons<br>19:00</b>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <b>Ladies Night</b>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <b>Aros Congress Center</b><br>
                        <span class="uc">Västerås</span><br>
                        Sweden
                      </div>
                    </div></td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <a href="#" data-reveal-id="ticketModal"><div class="arrow"></div></a>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="row">
                      <div class="small-12 medium-4 columns">
                        <h3>24</h3>
                      </div>
                      <div class="small-12 medium-4 columns">
                        <b>Okt<br>2013</b>
                      </div>
                      <div class="small-12 medium-4 columns">
                        <b>Tors<br>19:00</b>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <b>Ladies Night</b>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <b>Conventum</b><br>
                        <span class="uc">Örebro</span><br>
                        Sweden
                      </div>
                    </div></td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <a href="#"><div class="arrow"></div></a>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="row">
                      <div class="small-12 medium-4 columns">
                        <h3>25</h3>
                      </div>
                      <div class="small-12 medium-4 columns">
                        <b>Okt<br>2013</b>
                      </div>
                      <div class="small-12 medium-4 columns">
                        <b>Fre<br>19:00</b>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <b>Ladies Night</b>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <b>Conventum</b><br>
                        <span class="uc">Karlstad</span><br>
                        Sweden
                      </div>
                    </div></td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <a href="#"><div class="arrow"></div></a>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="row">
                      <div class="small-12 medium-4 columns">
                        <h3>26</h3>
                      </div>
                      <div class="small-12 medium-4 columns">
                        <b>Okt<br>2013</b>
                      </div>
                      <div class="small-12 medium-4 columns">
                        <b>Lör<br>19:00</b>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <b>Ladies Night</b>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <b>Ericsson Arena</b><br>
                        <span class="uc">Stockholm</span><br>
                        Sweden
                      </div>
                    </div></td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <a href="#"><div class="arrow"></div></a>
                      </div>
                    </div>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>