<section class="profileside">

  <div class="row">
    <div class="small-12 columns">
      <h2>World Trade Center</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <h4>Kontakt</h4>
      <ul class="companyinformation">
        <li>World Trade Center</li>
        <li>Mikael Karlsson</li>
        <li>Citygatan 1</li>
        <li>123 45 Stockholm</li>
        <li>Stockholms Län</li>
        <li>Sverige</li>
      </ul>
    </div>
    <div class="small-6 columns">
      <ul class="companyinformation">
        <li class="phonenumber">079-324 03 97</li>
        <li class="phonenumber paddingbottom">8-500 12 34</li>
        <li><a href="#" class="button expand">Hemsida</a></li>
        <li><a href="#" class="button expand">E-post</a></li>
      </ul>
    </div>
    <div class="small-12 columns"><hr></div>
    <div class="small-12 columns">
      <h4>Fakta</h4>
      <p>Sundbyberg, Stockholm</p>
      <ul class="companyinformation">
        <li><i class="#">Största Sällskap: 450</i></li>
        <li><i class="#">Antal Mötesrum: 5</i></li>
        <li><i class="#">Största möteslokal: 450</i></li>
        <li><i class="#">Sittande matgäster: 350</i></li>
        <li><i class="#">Mingel/stående: 500</i></li>
        <li><i class="#">Logi, antal bäddar: 45</i></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns profileinformation">
      <dl class="accordion" data-accordion>
        <dd class="active">
          <a href="#presentation">Presentation</a>
          <div id="presentation" class="content">
            <h2>Om World Trade Center</h2>
            <p>World Trade Center Stockgolm strävar efter det perfekta. Det perfekta läget. Det perfekta mötet. Det perfekta serviceutbudet.</p>
            <p>Mitt i Stockholm city, 20 minuter från Arlandas landnings-och startbanor och på tröskeln till storstadens utbud, finns World Trade Center med kontor i toppklass och nyrenoverade effektiva konferenslokaler och eventlokaler. Med personal, service och faciliteter i perfekt anda</p>
            <p>Med ambitionen att vara en av landets ledande arrangör av konferenser och möten erbjuder vi också välkompenerade menyer - dag som kväll. Från Piazzan, den perfekta lunchrestaurangen, till WTC Restaurang som serverar á la carte och affärslunch. För sittningar på tu man hand eller fest för många.</p>
          </div>
        </dd>
        <dd>
          <a href="#extraheader">Extra Rubrik</a>
          <div id="extraheader" class="content">
            <h2>Om World Trade Center</h2>
            <p>World Trade Center Stockgolm strävar efter det perfekta. Det perfekta läget. Det perfekta mötet. Det perfekta serviceutbudet.</p>
            <p>Mitt i Stockholm city, 20 minuter från Arlandas landnings-och startbanor och på tröskeln till storstadens utbud, finns World Trade Center med kontor i toppklass och nyrenoverade effektiva konferenslokaler och eventlokaler. Med personal, service och faciliteter i perfekt anda</p>
            <p>Med ambitionen att vara en av landets ledande arrangör av konferenser och möten erbjuder vi också välkompenerade menyer - dag som kväll. Från Piazzan, den perfekta lunchrestaurangen, till WTC Restaurang som serverar á la carte och affärslunch. För sittningar på tu man hand eller fest för många.</p>
          </div>
        </dd>
        <dd>
          <a href="#offer">Erbjudanden</a>
          <div id="offer" class="content">
            <img src="http://placehold.it/900x300" alt="">
            <p>World Trade Center Stockgolm strävar efter det perfekta. Det perfekta läget. Det perfekta mötet. Det perfekta serviceutbudet.</p>
            <p>Mitt i Stockholm city, 20 minuter från Arlandas landnings-och startbanor och på tröskeln till storstadens utbud, finns World Trade Center med kontor i toppklass och nyrenoverade effektiva konferenslokaler och eventlokaler. Med personal, service och faciliteter i perfekt anda</p>
            <p>Med ambitionen att vara en av landets ledande arrangör av konferenser och möten erbjuder vi också välkompenerade menyer - dag som kväll. Från Piazzan, den perfekta lunchrestaurangen, till WTC Restaurang som serverar á la carte och affärslunch. För sittningar på tu man hand eller fest för många.</p>
            <p>För bokning, ring 079-324 03 97 eller <a href="#">maila oss</a>.</p>
            <hr>
            <img src="http://placehold.it/900x300" alt="">
            <p>World Trade Center Stockgolm strävar efter det perfekta. Det perfekta läget. Det perfekta mötet. Det perfekta serviceutbudet.</p>
            <p>Mitt i Stockholm city, 20 minuter från Arlandas landnings-och startbanor och på tröskeln till storstadens utbud, finns World Trade Center med kontor i toppklass och nyrenoverade effektiva konferenslokaler och eventlokaler. Med personal, service och faciliteter i perfekt anda</p>
            <p>Med ambitionen att vara en av landets ledande arrangör av konferenser och möten erbjuder vi också välkompenerade menyer - dag som kväll. Från Piazzan, den perfekta lunchrestaurangen, till WTC Restaurang som serverar á la carte och affärslunch. För sittningar på tu man hand eller fest för många.</p>
            <p>För bokning, ring 079-324 03 97 eller <a href="#">maila oss</a>.</p>
          </div>
        </dd>
        <dd>
          <a href="#map">Karta</a>
          <div id="map" class="content">
            <h2>Om World Trade Center</h2>
            <p>World Trade Center Stockgolm strävar efter det perfekta. Det perfekta läget. Det perfekta mötet. Det perfekta serviceutbudet.</p>
            <p>Mitt i Stockholm city, 20 minuter från Arlandas landnings-och startbanor och på tröskeln till storstadens utbud, finns World Trade Center med kontor i toppklass och nyrenoverade effektiva konferenslokaler och eventlokaler. Med personal, service och faciliteter i perfekt anda</p>
            <p>Med ambitionen att vara en av landets ledande arrangör av konferenser och möten erbjuder vi också välkompenerade menyer - dag som kväll. Från Piazzan, den perfekta lunchrestaurangen, till WTC Restaurang som serverar á la carte och affärslunch. För sittningar på tu man hand eller fest för många.</p>
          </div>
        </dd>
        <dd>
          <a href="#media">Media</a>
          <div id="media" class="content">
            <h2>Om World Trade Center</h2>
            <p>World Trade Center Stockgolm strävar efter det perfekta. Det perfekta läget. Det perfekta mötet. Det perfekta serviceutbudet.</p>
            <p>Mitt i Stockholm city, 20 minuter från Arlandas landnings-och startbanor och på tröskeln till storstadens utbud, finns World Trade Center med kontor i toppklass och nyrenoverade effektiva konferenslokaler och eventlokaler. Med personal, service och faciliteter i perfekt anda</p>
            <p>Med ambitionen att vara en av landets ledande arrangör av konferenser och möten erbjuder vi också välkompenerade menyer - dag som kväll. Från Piazzan, den perfekta lunchrestaurangen, till WTC Restaurang som serverar á la carte och affärslunch. För sittningar på tu man hand eller fest för många.</p>
          </div>
        </dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <h4>Kategorier</h4>
      <dl>
        <dt>Aktiviteter<div class="listarrow"></div></dt>
          <dd>Mat &amp; Dryckesaktiviteter</dd>
          <dd>Motor</dd>
        <dt>Event &amp; Möteslokaler<div class="listarrow"></div></dt>
          <dd>Fest &amp; Bröllopslokaler</dd>
          <dd>Konferens</dd>
        <dt>Konferenslokaler<div class="listarrow"></div></dt>
          <dd>Konferens</dd>
          <dd>Fest/event</dd>
        <dt>Underhållning<div class="listarrow"></div></dt>
          <dd>Magi/Trolleri</dd>
          <dd>Standup</dd>
      </dl>
    </div>
  </div>

</section>

<div class="row">
  <a href="#"><div class="rightribbon ribbon close">Stäng profilsidan</div></a>
</div>