<aside class="left-off-canvas-menu">
  <!-- whatever you want goes here -->
  <ul class="off-canvas-list">
    <li><a href="#">Aktiviteter</a></li>
    <li><a href="#">Arrangörer</a></li>
    <li><a href="#">Underhållning</a></li>
    <li><a href="#">Föreläsare &amp; Talare</a></li>
    <li><a href="#">Catering</a></li>
    <li><a href="#">Event &amp; Mötesplatser</a></li>
    <li><a href="#">Konferenslokaler</a></li>
    <li><a href="#">Personal &amp; Tjänster</a></li>
    <li><a href="#">Expo</a></li>
    <li><a href="#">Transporter</a></li>
    <li><a href="#">Teknik</a></li>
    <li><a href="#">Uthyrning</a></li>
    <li><a href="#">Övrigt</a></li>
  </ul>
</aside>
<aside class="right-off-canvas-menu">
  <a href="#"><div class="ribbon">Event</div></a>
  <a href="#"><div class="ribbon conference">Konferens</div></a>
  <a href="#"><div class="ribbon ticket">Biljett</div></a>
  <a href="#"><div class="ribbon backstage">Backstage</div></a>
  <ul class="off-canvas-list rightmenu">
    <li><a href="#">Startsida</a></li>
    <li><a href="#">Om Eventmarket</a></li>
    <li><a href="#">Annonsera</a></li>
    <li><a href="#">Tips & råd</a></li>
    <li><a href="#">Erbjudanden</a></li>
    <li><a href="#">Julerbjudanden</a></li>
    <li><a href="#">Redaktionen</a></li>
    <li><a href="#">Bildarkivet</a></li>
    <li><a href="#">Kontakta oss</a></li>
    <section class="newsletter">
      <li><a href="#">Skicka öppen förfrågan</a></li>
      <li><a href="#">Registrera dig för nyhetsbrev</a></li>
    </section>
    <li>
      <a class="th socialmedia" href="#">
        <img src="http://placehold.it/64x64">
      </a>
    </li>
  </ul>
</aside>