<header id="header" class="header">
  <div class="upper-nav clearfix">
      <div class="row">
        <div class="small-12 large-8 columns">
          <img src="/images/logo-white.svg" class="logo">
        </div>
        <div class="large-3 columns show-for-large-up">
          <form id="desktop-search">
            <div class="row collapse">
              <div class="small-10 columns">
                <input type="text" placeholder="Sök inom eventbranchen">
              </div>
              <div class="small-2 columns">
                <a href="#" class="button postfix">Sök</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  <div class="nav-wrap">
    <div class="container">
      <nav class="top-bar" data-topbar>
        <ul class="title-area hide">
          <li class="name">
            <h1><a href="#">My Site</a></h1>
          </li>
        </ul>
          <a class="left-off-canvas-toggle category-icon left hide-for-large-up"><span></span></a>
        <section class="top-bar-section show-for-large-up">
          <!-- Left Nav Section -->
          <ul class="left">
            <li class=""><a href="#" class="eventbutton">Event</a></li>
            <li class=""><a href="#" class="conferencebutton">Konferens</a></li>
            <li class=""><a href="#" class="ticketbutton">Biljett</a></li>
            <li class="has-dropdown last">
              <a href="#" class="backstagebutton">Backstage</a>
              <ul class="dropdown">
                <li><a href="#">First link in dropdown</a></li>
              </ul>
            </li>
          </ul>
        </section>
        <div class="left-small">
          <ul>
<!--                 <li><a class="right-off-canvas-toggle menu-icon right nav-icon"><span></span></a></li> -->
            <li><a class="right-off-canvas-toggle menu-icon right nav-icon"><span></span></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>