---
title: Om eventmarket
---

<!-- Main content -->
<section class="main-content container">

  <div class="row">
    <div class="large-3 columns show-for-large-up" id="listaside">
      <section class="sidelist">
        <h2>Event</h2>
        <ul class="side-nav event">
          <li><div class="ribbon sidenav"><a href="#">Aktviteter</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Arrangörer</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Underhållning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Föreläsare &amp; Talare</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Catering</div></a></li>
          <li><div class="ribbon sidenav"><a href="#">Event &amp; Mötesplatser</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Konferenslokaler</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Personal &amp; Tjänster</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Expo</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Transporter</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Teknik</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Uthyrning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Övrigt</a></div></li>
        </ul>
      </section>
    </div>

    <div class="small-12 medium-12 large-9 columns">
      <h1>Om eventmarket</h1>
      <p>Sökportalen Eventmarket startade 1998 och samlar sen dess ALLT och ALLA inom event, konferens &amp; aktiviteter! Hör söker du fram direktkontakter till Sveriges artister, festlokaler, konferensanläggningar, uthyrningsföretag, cateringfirmor, arrangörer. Oavsett om du planerar en privat tillställning, företagsevent eller konferens.</p>

      <div class="contentrow row">
        <div class="small-12 medium-3 large-3 columns">
          <img src="http://placehold.it/200x150">
        </div>
        <div class="small-12 medium-9 large-9 columns">
          <h3>Så här använder du sökportalen eventmarket</h3>
          <p>Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler och övriga eventleverantörer. Här får du även Tips &amp; Råd, Branschnyheter och fri kundsupport.</p>
          <a href="#" class="uc">&raquo; Läs mer</a>
        </div>
      </div>
      <div class="contentrow row">
        <div class="small-12 medium-3 large-3 columns">
          <img src="http://placehold.it/200x150">
        </div>
        <div class="small-12 medium-9 large-9 columns">
          <h3>Historik</h3>
          <p>Första fröet till Eventmarket.com såddes år 1995 av eventproducenten och mångsysslaren Håkan Sterner. Med (då) över 30 års erfarenhet av nöja, underhållning och arrangörsskap kände Håkan tillsammans med dpttern Jennie och hennes man Johnny...</p>
          <a href="#" class="uc">&raquo; Läs mer</a>
        </div>
      </div>
      <div class="contentrow row">
        <div class="small-12 medium-3 large-3 columns">
          <img src="http://placehold.it/200x150">
        </div>
        <div class="small-12 medium-9 large-9 columns">
          <h3>Vår marknadsföring &amp; utveckling</h3>
          <p>Marknadsföring och ständig utveckling är A &amp; O. Ta del av vår strategi för att skapa långsiktighet, få nöjda annonsörer och glada besökare!</p>
          <a href="#" class="uc">&raquo; Läs mer</a>
        </div>
      </div>
      <div class="contentrow row">
        <div class="small-12 medium-3 large-3 columns">
          <img src="http://placehold.it/200x150">
        </div>
        <div class="small-12 medium-9 large-9 columns">
          <h3>Referenser</h3>
          <p>Vill du veta vad sajtens medlemmar tycker om sin annonsering? Eller vad besökarna tycker om oss som sökportal?</p>
          <a href="#" class="uc">&raquo; Läs mer</a>
        </div>
      </div>
      <div class="contentrow row">
        <div class="small-12 medium-3 large-3 columns">
          <img src="http://placehold.it/200x150">
        </div>
        <div class="small-12 medium-9 large-9 columns">
          <h3>Vill du annonsera här?</h3>
          <p>Erbjuder du tjänster, lokaler eller produkter inom event-, mötes- &amp; upplevelsebranschen? Ja, då skall du så klart vara sökbar här i sökportalen eventmarket. Medlemskap gör att du finns med där branschen samlas och där kunderna letar.</p>
          <a href="#" class="uc">&raquo; Läs mer</a>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- Main content end -->