---
title: Erbjudanden
---

<section class="hero">
  <div class="row">
    <div class="small-12 columns">
      <h1>Boka<br>konferens</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-4 medium-7 columns">
      <p>Här hittar du intressanta ebjudanden från medlemmarna på eventmarket.</p>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="main-content container">

  <div class="row">
    <div class="small-12 medium-12 large-9 columns">
      <h1 class="results">Resultat: X träffar</h1>
    </div>

    <div class="small-12 medium-12 large-9 columns">

      <div class="row panel">
        <a href="#">
          <div class="thumbnail large-2 columns show-for-large-up">
            <img src="http://placehold.it/150x150" alt="">
          </div>
          <div class="informationbox small-12 medium-12 large-10 columns">
            <img src="http://placehold.it/100x100" alt="" class="show-for-medium-only right">
            <h2>Carola</h2>
            <p class="location">Stockholm, Sweden</p>
            <p class="show-for-medium-up">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            <i class="show-for-medium-up"> Ikon </i>
          </div>
          <div class="arrowcontainer"><div class="arrow"></div></div>
          </a>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" data-dropdown="sort" class="sort button dropdown">Sortera</a><br>
          <ul id="sort" data-dropdown-content class="f-dropdown">
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
          </ul>
        </div>
      </div>

      <div class="row panel">
        <a href="#">
          <div class="thumbnail large-2 columns show-for-large-up">
            <img src="http://placehold.it/150x150" alt="">
          </div>
          <div class="informationbox small-12 medium-12 large-10 columns">
            <img src="http://placehold.it/100x100" alt="" class="show-for-medium-only right">
            <h2>Carola</h2>
            <p class="location">Stockholm, Sweden</p>
            <p class="show-for-medium-up">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            <i class="show-for-medium-up"> Ikon </i>
          </div>
          <div class="arrowcontainer"><div class="arrow"></div></div>
          </a>
      </div>

      <div class="row panel">
        <a href="#">
          <div class="thumbnail large-2 columns show-for-large-up">
            <img src="http://placehold.it/150x150" alt="">
          </div>
          <div class="informationbox small-12 medium-12 large-10 columns">
            <img src="http://placehold.it/100x100" alt="" class="show-for-medium-only right">
            <h2>Carola</h2>
            <p class="location">Stockholm, Sweden</p>
            <p class="show-for-medium-up">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            <i class="show-for-medium-up"> Ikon </i>
          </div>
          <div class="arrowcontainer"><div class="arrow"></div></div>
          </a>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" class="hits">
          <h2>Carola</h2>
          <p>Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" class="hits">
          <h2>Carola</h2>
          <p>Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
          </a>
        </div>
      </div>


    </div>

    <div class="large-3 columns show-for-large-up">
      <section class="sidelist">
        <h2>Konferens</h2>

      </section>
    </div>

  </div>

</section>
<!-- Main content end -->