---
title: Erbjudanden
---

<section class="hero">
  <div class="row">
    <div class="container">
      <ul class="hero-orbit" data-orbit data-options="bullets:false; timer: false; slide_number: false;">
        <li>
          <img src="http://placehold.it/1500x300" alt="slide 1" />
          <h1>boka<br>biljetter</h1>
        </li>
        <li>
          <img src="http://placehold.it/1500x300" alt="slide 2" />
          <h1>hej<br>san</h1>
        </li>
        <li>
          <img src="http://placehold.it/1500x300" alt="slide 3" />
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="main-content container">

  <div class="row">
    <div class="small-12 medium-12 large-9 columns">
      <h1 class="results">Resultat: X träffar</h1>
    </div>

    <div class="small-12 medium-12 large-9 columns">

      <div class="row panel">
        <a href="#">
          <div class="thumbnail large-2 columns show-for-large-up">
            <img src="http://placehold.it/150x150" alt="">
          </div>
          <div class="informationbox small-12 medium-12 large-10 columns">
            <img src="http://placehold.it/100x100" alt="" class="show-for-medium-only right">
            <h2>Carola</h2>
            <p class="location">Stockholm, Sweden</p>
            <p class="show-for-medium-up">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            <i class="show-for-medium-up"> Ikon </i>
          </div>
          <div class="arrowcontainer"><div class="arrow"></div></div>
          </a>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" data-dropdown="sort" class="sort button dropdown">Sortera</a><br>
          <ul id="sort" data-dropdown-content class="f-dropdown">
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
          </ul>
        </div>
      </div>

      <div class="row panel">
        <a href="#">
          <div class="thumbnail large-2 columns show-for-large-up">
            <img src="http://placehold.it/150x150" alt="">
          </div>
          <div class="informationbox small-12 medium-12 large-10 columns">
            <img src="http://placehold.it/100x100" alt="" class="show-for-medium-only right">
            <h2>Carola</h2>
            <p class="location">Stockholm, Sweden</p>
            <p class="show-for-medium-up">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            <i class="show-for-medium-up"> Ikon </i>
          </div>
          <div class="arrowcontainer"><div class="arrow"></div></div>
          </a>
      </div>

      <div class="row panel">
        <a href="#">
          <div class="thumbnail large-2 columns show-for-large-up">
            <img src="http://placehold.it/150x150" alt="">
          </div>
          <div class="informationbox small-12 medium-12 large-10 columns">
            <img src="http://placehold.it/100x100" alt="" class="show-for-medium-only right">
            <h2>Carola</h2>
            <p class="location">Stockholm, Sweden</p>
            <p class="show-for-medium-up">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            <i class="show-for-medium-up"> Ikon </i>
          </div>
          <div class="arrowcontainer"><div class="arrow"></div></div>
          </a>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" class="hits">
          <h2>Carola</h2>
          <p>Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" class="hits">
          <h2>Carola</h2>
          <p>Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
          </a>
        </div>
      </div>


    </div>

    <div class="large-3 columns show-for-large-up">
      <section class="sidelist">
        <h2>Konferens</h2>
        <ul class="tutorial">
          <li>
            <dl class="accordion" data-accordion>
              <dd class="conferencetutorial">
                <a href="#tutorial"><div class="rightribbon sidenav ribbon">Så här går det till</div></a>
                <div id="tutorial" class="content">
                  <p>Från start visas alla konferens-anläggningar som finns med på eventmarket. Du filtrerar listan genom att välja enm eller flera kategorier som passar er.
                  <br>
                  <strong>Du kan även söka fram</strong> anläggningarna geografiskt och/eller ange antal. Kontakt sker direkt med anläggningen Lycka till!</p>
                </div>
              </dd>
            </dl>
          </li>
          <li>
            <div class="rightribbon ribbon sidenav">Kategori</div>
            <form class="conferenceform">
              <label>Välj en eller flera kategorier</label>
              <input id="dagkonferens" type="checkbox"><label for="dagkonferens">Dagkonferens</label><br>
              <input id="konferens m. övernattning" type="checkbox"><label for="konferens m. övernattning">Konferens m. övernattning</label><br>
              <input id="slott &amp;- gårdsskonferens" type="checkbox"><label for="slott &amp;- gårdsskonferens">Slott &amp;- Gårdsskonferens</label><br>
              <input id="kongress" type="checkbox"><label for="kongress">Kongress</label><br>
              <input id="hörsal/föreläsning" type="checkbox"><label for="hörsal/föreläsning">Hörsal/Föreläsning</label><br>
              <input id="kvällsfest/event" type="checkbox"><label for="kvällsfest/event">Kvällsfest/Event</label>
            </form>
          </li>
          <li>
            <div class="rightribbon ribbon sidenav">Ort</div>
            <form class="conferenceform">
              <label>Fyll i önskad ort
                <input type="text" id="position">
              </label>
            </form>
          </li>
          <li>
            <div class="rightribbon ribbon sidenav">Antal</div>
            <form class="conferenceform">
              <label>Antal
                <input type="text" id="position">
              </label>
            </form>
          </li>
          <li>
            <div class="rightribbon ribbon sidenav">Eller...</a></div>
            <div class="row">
              <div class="large-12 columns">
                <p class="externalconference">Vill du istället kontakta en extern konferensarrangör? En ectern arrangör är ej knuten till en specifik anläåggning. I samråd med kunden ansvarar arrangören för helheten som programupplägg, logistik, bokning av lokal, föreläsare, genomförande &amp; uppföljning..</p>
                <form class="conferenceform">
                  <input id="hide" type="checkbox"><label for="hide">Dölj anläggningar och visa endast externa konferens-arrangörer.</label>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>

  </div>

</section>
<!-- Main content end -->