---
title: Konferens
---

<section class="hero">
  <div class="row">
    <div class="container">
      <ul class="hero-orbit" data-orbit data-options="bullets:false; timer: false; slide_number: false;">
        <li>
          <img src="http://placehold.it/1440x400" alt="slide 1" />
          <h1>Boka<br>Biljetter</h1>
          <p class="show-for-large-up">Sökportal inom event, möte,<br>upplevelse och expo</p>
        </li>
        <li>
          <img src="http://placehold.it/1440x400" alt="slide 2" />
          <h1>Hej<br>San</h1>
        </li>
        <li>
          <img src="http://placehold.it/1440x400" alt="slide 3" />
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="main-content container">

  <div class="row">

    <div class="panelmargin small-12 medium-12 columns hide-for-large-up">
      <dl class="accordion" data-accordion>
      <dd class="nopadding">
        <a href="#filteringpanel">
          <div class="filterpanel conferencebackground small-12 columns borderbottom">
            <div class="filterpanel conferencebackground small-8 medium-8 large-4 columns">
              <h2>Konferens</h2>
            </div>
            <div class="filterpanel conferencebackground small-4 medium-4 large-8 columns text-right">
              <p class="hide-for-large-up">Dölj/Visa<br>filtrering</p>
            </div>
          </div>
        </a>
        <div id="filteringpanel" class="content">
          <div class="small-12 columns filterpanel conferencebackground">
            <div class="filterpanel conferencebackground small-12 medium-12 large-8 columns">
              <form>
                <h5>Välj en eller flera kategorier</h5>
                <ul class="filtering">
                  <li><input id="dagkonferens" type="checkbox"><label for="dagkonferens">Dagkonferens</label></li>
                  <li><input id="konferens m. övernattning" type="checkbox"><label for="konferens m. övernattning">Konferens m. övernattning</label></li>
                  <li><input id="slott &amp;- gårdsskonferens" type="checkbox"><label for="slott &amp;- gårdsskonferens">Slott &amp;- Gårdsskonferens</label></li>
                  <li><input id="kongress" type="checkbox"><label for="kongress">Kongress</label></li>
                  <li><input id="hörsal/föreläsning" type="checkbox"><label for="hörsal/föreläsning">Hörsal/Föreläsning</label></li>
                  <li><input id="kvällsfest/event" type="checkbox"><label for="kvällsfest/event">Kvällsfest/Event</label></li>
                </ul>
              </form>
            </div>
            <hr class="whiteline">
            <div class="filterpanel conferencebackground small-12 medium-12 large-8 columns">
              <form class="mobileinput">
                <label>Fyll i önskad ort
                  <input type="text" id="position">
                </label>
                <label>Fyll i antal
                  <input type="text" id="position">
                </label>
              </form>
            </div>
            <hr class="whiteline">
            <div class="filterpanel conferencebackground small-12 medium-12 columns">
              <form class="mobileinput">
                <input id="hide" type="checkbox"><label for="hide">Dölj anläggningar och<br>visa endast externa konferens-arrangörer.</label>
              </form>
            </div>
          </div>
        </div>
      </dd>
      <dl>
    </div>

    <div class="small-12 medium-12 large-9 columns">
      <h1 class="results">Resultat: X träffar</h1>
    </div>

    <div class="small-12 medium-12 large-9 columns">

     <div class="panel small-12 medium-6 large-12 columns">
        <a href="#" data-reveal-id="profileside">
          <div class="thumbnail large-2 columns show-for-large-up">
            <img src="http://placehold.it/150x150" alt="">
          </div>
          <div class="informationbox small-12 medium-12 large-10 columns">
            <img src="http://placehold.it/100x100" alt="" class="show-for-medium-only right">
            <h2>Carola</h2>
            <p class="location">Stockholm, Sweden</p>
            <p class="">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            <i class=""> Ikon </i>
          </div>
          <div class="arrowcontainer show-for-medium-up"><div class="arrow"></div></div>
        </a>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" data-dropdown="sort" class="sort button dropdown">Sortera</a><br>
          <ul id="sort" data-dropdown-content class="f-dropdown">
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
          </ul>
        </div>
      </div>

      <div class="panel small-12 medium-6 large-12 columns">
        <a href="#" data-reveal-id="profileside">
          <div class="thumbnail large-2 columns show-for-large-up">
            <img src="http://placehold.it/150x150" alt="">
          </div>
          <div class="informationbox small-12 medium-12 large-10 columns">
            <img src="http://placehold.it/100x100" alt="" class="show-for-medium-only right">
            <h2>Carola</h2>
            <p class="location">Stockholm, Sweden</p>
            <p class="">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            <i class=""> Ikon </i>
          </div>
          <div class="arrowcontainer show-for-medium-up"><div class="arrow"></div></div>
        </a>
      </div>

      <div class="panel small-12 medium-6 large-12 columns">
        <a href="#" data-reveal-id="profileside">
          <div class="thumbnail large-2 columns show-for-large-up">
            <img src="http://placehold.it/150x150" alt="">
          </div>
          <div class="informationbox small-12 medium-12 large-10 columns">
            <img src="http://placehold.it/100x100" alt="" class="show-for-medium-only right">
            <h2>Carola</h2>
            <p class="location">Stockholm, Sweden</p>
            <p class="">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            <i class=""> Ikon </i>
          </div>
          <div class="arrowcontainer show-for-medium-up"><div class="arrow"></div></div>
        </a>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" class="hits">
          <h2>Carola</h2>
          <p>Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" class="hits">
          <h2>Carola</h2>
          <p>Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
          </a>
        </div>
      </div>


    </div>

    <div class="large-3 columns show-for-large-up">
      <section class="sidelist">
        <h2>Konferens</h2>
        <ul class="tutorial">
          <li>
            <dl class="accordion" data-accordion>
              <dd class="conferencetutorial">
                <a href="#tutorial"><div class="rightribbon sidenav ribbon">Så här går det till</div></a>
                <div id="tutorial" class="content">
                  <p>Från start visas alla konferens-anläggningar som finns med på eventmarket. Du filtrerar listan genom att välja enm eller flera kategorier som passar er.
                  <br>
                  <strong>Du kan även söka fram</strong> anläggningarna geografiskt och/eller ange antal. Kontakt sker direkt med anläggningen Lycka till!</p>
                </div>
              </dd>
            </dl>
          </li>
          <li>
            <div class="rightribbon ribbon sidenav">Kategori</div>
            <form class="conferenceform">
              <h5>Välj en eller flera kategorier</h5>
              <input id="dayconference" type="checkbox"><label for="dayconference">Dagkonferens</label><br>
              <input id="sleepoverconference" type="checkbox"><label for="sleepoverconference">Konferens m. övernattning</label><br>
              <input id="mansionconference" type="checkbox"><label for="mansionconference">Slott &amp;- Gårdsskonferens</label><br>
              <input id="congress" type="checkbox"><label for="congress">Kongress</label><br>
              <input id="lecture" type="checkbox"><label for="lecture">Hörsal/Föreläsning</label><br>
              <input id="event" type="checkbox"><label for="event">Kvällsfest/Event</label>
            </form>
          </li>
          <li>
            <div class="rightribbon ribbon sidenav">Ort</div>
            <form class="conferenceform">
              <label>Fyll i önskad ort
                <input type="text" id="position">
              </label>
            </form>
          </li>
          <li>
            <div class="rightribbon ribbon sidenav">Antal</div>
            <form class="conferenceform">
              <label>Fyll i antal
                <input type="text" id="position">
              </label>
            </form>
          </li>
          <li>
            <div class="rightribbon ribbon sidenav">Eller...</a></div>
            <div class="row">
              <div class="large-12 columns">
                <p class="externalconference">Vill du istället kontakta en extern konferensarrangör? En ectern arrangör är ej knuten till en specifik anläåggning. I samråd med kunden ansvarar arrangören för helheten som programupplägg, logistik, bokning av lokal, föreläsare, genomförande &amp; uppföljning..</p>
                <form class="conferenceform">
                  <input id="showexternal" type="checkbox"><label for="showexternal">Dölj anläggningar och visa endast externa konferens-arrangörer.</label>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>

  </div>

</section>
<!-- Main content end -->