---
title: Kontakta oss
---

<!-- Main content -->
<section class="main-content container">

  <div class="row">
    <div class="large-3 columns show-for-large-up" id="listaside">
      <section class="sidelist">
        <h2>Event</h2>
        <ul class="side-nav event">
          <li><div class="ribbon sidenav"><a href="#">Aktviteter</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Arrangörer</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Underhållning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Föreläsare &amp; Talare</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Catering</div></a></li>
          <li><div class="ribbon sidenav"><a href="#">Event &amp; Mötesplatser</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Konferenslokaler</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Personal &amp; Tjänster</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Expo</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Transporter</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Teknik</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Uthyrning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Övrigt</a></div></li>
        </ul>
      </section>
    </div>

    <div class="small-12 medium-12 large-9 columns">
      <h1>Kontakta oss</h1>
      <p>Vill du ha hjälp att hitta rätt i sökportalen? Eller vill du annonsera och hitta nya kunder här? Varmt välkommen att kontakta oss! Vi finns på plats vardagar 9.00-17.00 (lunch 12-13).</p>

      <div class="row">
        <div class="small-6 medium-6 large-6 columns">
          <ul class="vcard">
            <li>Huvudkontor &amp; Kundsupport</li>
            <li>Eventmarket Svenska AB</li>
            <li class="street-adress">Västerlånggatan 1</li>
            <li class="zip">732 30 Arboga</li>
            <li>Sverige</li>
          </ul>
        </div>
        <div class="small-6 medium-6 large-6 columns">
          <ul class="vcard">
            <li>Tel: 0589-180 95</li>
            <li class="email">E-post: <a href="mailto:info@eventmarket.com">info@eventmarket.com</a></li>
            <li>Organisationsnummer: 556550-4015</li>
          </ul>
        </div>
      </div>

      <div class="contactrow row">
        <div class="small-12 medium-2 large-2 columns">
        <img src="http://placehold.it/150x150">
        </div>
        <div class="small-12 medium-10 large-10 columns">
          <h3>Jennie Sterner</h3>
          <h6>VD &amp; Säljare</h6>
          <ul class="vcard">
            <li>0589-180 95</li>
            <li>070-381 36 90</li>
            <li class="email"><a href="mailto:jennie@eventmarket.com">jennie@eventmarket.com</a></li>
          </ul>
          <p>Med stepp, sång och showdans i bagaget ansvarar Jennie sedan starten -98 för Eventmarket Svenska AB's marknadsföring och företagets utveckling, säljer annonsering, sköter kundsupport och mässarrangemang. Företaget ägs &amp; drivs tillsammans med kollegan &amp; kära maken Johnny. På fritiden agerar hon allt som oftast hockeyspeaker i Västerås ishall, älskar sommarstugan vid sjön och bakar bullar så ofta tid ges. En annan bästis är symaskinen och packar med tyg! Ögonstenarna i livet är de utflugna sönerna Victor, 23 &amp; Charlie, 20. Det bästa som finns är när familjen är samlad... och när sajten rullar.</p>
        </div>
      </div>

      <div class="contactrow row">
        <div class="small-12 medium-2 large-2 columns">
        <img src="http://placehold.it/150x150">
        </div>
        <div class="small-12 medium-10 large-10 columns">
          <h3>Toni Lahtinen</h3>
          <h6>Säljare</h6>
          <ul class="vcard">
            <li>040-692 80 77</li>
            <li class="email"><a href="mailto:toni@eventmarket.com">toni@eventmarket.com</a></li>
          </ul>
          <p>Med rötterna i Finland, skolåren i Arboga och efter några års studerande i Italien blev det sedemera även italiensk fru och barn. Efter ytterligare år i Arboga och några mellanår i Malmo, bor Toni idag med familjen på Malta (!) där han jobbar för eventmarket.com. Vårt alldeles egna Mumintroll har varit säljare på eventmarket sen 2003, vilket vi på huvudkontoret är mycket glada för! Fritiden ägnar Toni till familj, vänner och en stor portion av den Italienska, och numer även den Maltesiska kulturen och maten. OBS! Samtalskostnaden till soliga Malta ör samma som att ringa ett lokalt Sverigesamtal. Teknikens Under!</p>
        </div>
      </div>

      <div class="contactrow row">
        <div class="small-12 medium-2 large-2 columns">
        <img src="http://placehold.it/150x150">
        </div>
        <div class="small-12 medium-10 large-10 columns">
          <h3>Johnny Sterner</h3>
          <h6>Ekonomi &amp; Administration</h6>
          <ul class="vcard">
            <li>0589-180 95</li>
            <li>070-650 96 00</li>
            <li class="email"><a href="mailto:johnny@eventmarket.com">johnny@eventmarket.com</a></li>
          </ul>
          <p>En hejare på hocker där meriter i TV-pucken, yngre juniorlandslaget, guld i junior-SM med VIK och möngder av matcher i Arbogas A-lag hägrar. Johnny är en glad prick som sen starten -98 varit administrativ chef på eventmarket.com med ansvar för ekonomi, inköp och fakturering samt praktiska arrangemang vid mössor och meetings. Äger &amp; driver företaget tillsammans med kollegan &amp; frun Jennia. Tillsammans har de grabbarna Victor och Charlie. Dygnets tallriksmodell ser ut enl. följande: En stor tårtbist jobb, en nästan lika stor tårtbit hockey (tränare för VIKs J20-superelit juniorer) och resten av tårtan äts upp av familjen, sommarstugan vid sjön och alla goa vänner! Haha, hur stora tårtor finns det egentligen?</p>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- Main content end -->