---
title: Träfflistan
---

<!-- Main content -->
<section class="main-content container">

  <div class="row">
    <div class="large-3 columns show-for-large-up">
      <section class="sidelist">
        <h2>Branschen</h2>
        <ul class="side-nav event">
          <li><div class="ribbon sidenav"><a href="#">Aktviteter</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Arrangörer</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Underhållning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Föreläsare &amp; Talare</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Catering</div></a></li>
          <li><div class="ribbon sidenav"><a href="#">Event &amp; Mötesplatser</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Konferenslokaler</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Personal &amp; Tjänster</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Expo</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Transporter</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Teknik</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Uthyrning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Övrigt</a></div></li>
        </ul>
      </section>
    </div>

    <div class="panelmargin small-12 medium-12 large-9 columns">
      <dl class="accordion" data-accordion>
      <dd class="nopadding">
        <a href="#filteringpanel">
          <div class="small-12 columns filterpanel borderbottom">
            <div class="filterpanel small-8 medium-8 large-4 columns">
              <h2>Aktiviteter</h2>
            </div>
            <div class="filterpanel small-4 medium-4 large-8 columns text-right">
              <p class="show-for-large-up">Här hittar du aktiviteter till alla tillfällen.<br>Du filtrerar listan genom att välja en eller flera kategorier.</p>
              <p class="hide-for-large-up">Dölj/Visa<br>filtrering</p>
            </div>
          </div>
        </a>
        <div id="filteringpanel" class="content">
          <div class="small-12 columns filterpanel">
            <div class="filterpanel small-12 medium-12 large-3 columns">
              <ul class="filtering">
                <li><input type="radio" name="filtering" value="All" id="filreingAll"><label for="filteringAll">Alla</label></li>
                <li><input type="radio" name="filtering" value="Company" id="filreingCompany"><label for="filteringCompany">Företagsevent</label></li>
                <li><input type="radio" name="filtering" value="Private" id="filreingPrivate"><label for="filteringPrivate">Privat</label></li>
              </ul>
            </div>
            <hr class="hide-for-large-up whiteline">
            <div class="filterpanel small-12 medium-12 large-3 columns">
              <ul class="filtering">
                <li><input id="artis" type="checkbox"><label for="artis">Artistförmedling</label></li>
                <li><input id="family" type="checkbox"><label for="family">Barn &amp; Familj</label></li>
                <li><input id="cirkus" type="checkbox"><label for="cirkus">Cirkus &amp; Variete</label></li>
                <li><input id="imitation" type="checkbox"><label for="imitation">Imitation &amp; Lookalike</label></li>
                <li><input id="broadcaster" type="checkbox"><label for="broadcaster">Konferencier / <br class="show-for-large-up">Programledare</label></li>
                <li><input id="magic" type="checkbox"><label for="magic">Magi &amp; Trolleri</label></li>
                <span class="hide-for-large-up">
                <li><input id="mingle-entertainment" type="checkbox"><label for="mingle-entertainment">Middags- och <br class="show-for-large-up">Mingelunderhållning</label></li>
                <li><input id="partyband" type="checkbox"><label for="partyband">Partyband &amp; Orkestar</label></li>
                <li><input id="pianobar" type="checkbox"><label for="pianobar">Pianobar</label></li>
                <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Pubunderhållning</label></li>
                <li><input id="showtime" type="checkbox"><label for="showtime">Scenshow / Showtime</label></li>
                <li><input id="showgroup" type="checkbox"><label for="showgroup">Showgrupper</label></li>
                <li><input id="standup" type="checkbox"><label for="standup">Standup &amp; Humor</label></li>
                <li><input id="singers-female" type="checkbox"><label for="singers-female">Sångartister, Kvinnliga</label></li>
                <li><input id="singers-male" type="checkbox"><label for="singers-male">Sångartister, Manliga</label></li>
                <li><input id="troubadour" type="checkbox"><label for="troubadour">Trubadur &amp; Vispop</label></li>
                <li><input id="tv-personalities" type="checkbox"><label for="tv-personalities">TV-kända profiler</label></li>
                </span>
              </ul>
            </div>
            <div class="large-3 columns show-for-large-up">
              <ul class="filtering">
                <li><input id="magic" type="checkbox"><label for="magic">Magi &amp; Trolleri</label></li>
                <li><input id="mingle-entertainment" type="checkbox"><label for="mingle-entertainment">Middags- och <br class="show-for-large-up">Mingelunderhållning</label></li>
                <li><input id="partyband" type="checkbox"><label for="partyband">Partyband &amp; Orkestar</label></li>
                <li><input id="pianobar" type="checkbox"><label for="pianobar">Pianobar</label></li>
                <li><input id="pub-entertainment" type="checkbox"><label for="pub-entertainment">Pubunderhållning</label></li>
                <li><input id="showtime" type="checkbox"><label for="showtime">Scenshow / <br class="show-for-large-up">Showtime</label></li>
              </ul>
            </div>
            <div class="large-3 columns show-for-large-up">
              <ul class="filtering">
                <li><input id="showgroup" type="checkbox"><label for="showgroup">Showgrupper</label></li>
                <li><input id="standup" type="checkbox"><label for="standup">Standup &amp; Humor</label></li>
                <li><input id="singers-female" type="checkbox"><label for="singers-female">Sångartister, Kvinnliga</label></li>
                <li><input id="singers-male" type="checkbox"><label for="singers-male">Sångartister, Manliga</label></li>
                <li><input id="troubadour" type="checkbox"><label for="troubadour">Trubadur &amp; Vispop</label></li>
                <li><input id="tv-personalities" type="checkbox"><label for="tv-personalities">TV-kända profiler</label></li>
              </ul>
            </div>
          </div>
        </div>
      </dd>
      <dl>
    </div>

    <div class="small-12 medium-12 large-9 columns">
      <h1 class="results">Resultat: X träffar</h1>

      <div class="panel small-12 medium-6 large-12 columns">
        <a href="#" data-reveal-id="profileside">
          <div class="thumbnail large-2 columns show-for-large-up">
            <img src="http://placehold.it/150x150" alt="">
          </div>
          <div class="informationbox small-12 medium-12 large-10 columns">
            <img src="http://placehold.it/100x100" alt="" class="show-for-medium-only right">
            <h2>Carola</h2>
            <p class="location">Stockholm, Sweden</p>
            <p class="">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            <i class=""> Ikon </i>
          </div>
          <div class="arrowcontainer show-for-medium-up"><div class="arrow"></div></div>
        </a>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" data-dropdown="sort" class="sort button dropdown">Sortera</a><br>
          <ul id="sort" data-dropdown-content class="f-dropdown">
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
          </ul>
        </div>
      </div>

      <div class="panel small-12 medium-6 large-12 columns">
        <a href="#" data-reveal-id="profileside">
          <div class="thumbnail large-2 columns show-for-large-up">
            <img src="http://placehold.it/150x150" alt="">
          </div>
          <div class="informationbox small-12 medium-12 large-10 columns">
            <img src="http://placehold.it/100x100" alt="" class="show-for-medium-only right">
            <h2>Carola</h2>
            <p class="location">Stockholm, Sweden</p>
            <p class="">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            <i class=""> Ikon </i>
          </div>
          <div class="arrowcontainer show-for-medium-up"><div class="arrow"></div></div>
        </a>
      </div>

      <div class="panel small-12 medium-6 large-12 columns">
        <a href="#" data-reveal-id="profileside">
          <div class="thumbnail large-2 columns show-for-large-up">
            <img src="http://placehold.it/150x150" alt="">
          </div>
          <div class="informationbox small-12 medium-12 large-10 columns">
            <img src="http://placehold.it/100x100" alt="" class="show-for-medium-only right">
            <h2>Carola</h2>
            <p class="location">Stockholm, Sweden</p>
            <p class="">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            <i class=""> Ikon </i>
          </div>
          <div class="arrowcontainer show-for-medium-up"><div class="arrow"></div></div>
        </a>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" class="hits">
          <h2>Carola</h2>
          <p>Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" class="hits">
          <h2>Carola</h2>
          <p>Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
          </a>
        </div>
      </div>

  </div>

</section>
<!-- Main content end -->

<%= partial "/partials/profileside" %>