---
title: Träfflistan
---

<%= partial "/partials/icons" %>
<%= partial "/partials/profileside" %>

<!-- Main content -->
<section class="main-content container">

  <div class="row">
    <div class="large-3 columns show-for-large-up">
      <section class="sidelist">
        <h2>Branschen</h2>
        <ul class="side-nav event">
          <li><div class="ribbon sidenav"><a href="#">Aktviteter</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Arrangörer</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Underhållning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Föreläsare &amp; Talare</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Catering</div></a></li>
          <li><div class="ribbon sidenav"><a href="#">Event &amp; Mötesplatser</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Konferenslokaler</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Personal &amp; Tjänster</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Expo</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Transporter</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Teknik</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Uthyrning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Övrigt</a></div></li>
        </ul>
      </section>
    </div>

    <div class="small-12 medium-12 large-9 columns">
      <%= partial "/partials/filteringpanels" %>
    </div>

    <div class="small-12 medium-12 large-9 columns">
      <h1 class="results">Resultat: X träffar</h1>

      <div data-equalizer>
        <div class="panel small-12 medium-6 large-12 columns" data-equalizer-watch>
          <a href="#" data-reveal-id="profileside">
            <div class="thumbnail large-2 columns show-for-large-up">
              <img src="http://placehold.it/150x150" alt="">
            </div>
            <div class="informationbox small-12 medium-12 large-10 columns">
              <img src="http://placehold.it/100x100" alt="" class="thumbnailsmall show-for-medium-only right">
              <h2>Carola</h2>
              <p class="location">Stockholm, Sweden</p>
              <p class="">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
              <i>
                <svg class="icon icon-sallskap" viewBox="0 0 32 32"><use xlink:href="#icon-sallskap"></use></svg>
                <span class="icon-text">450</span>
              </i>
              <i>
                <svg class="icon icon-motesplatser" viewBox="0 0 32 32"><use xlink:href="#icon-motesplatser"></use></svg>
                <span class="icon-text">6</span>
              </i>
              <i>
                <svg class="icon icon-moteslokal" viewBox="0 0 32 32"><use xlink:href="#icon-moteslokal"></use></svg>
                <span class="icon-text">350</span>
              </i>
              <i>
                <svg class="icon icon-mat" viewBox="0 0 32 32"><use xlink:href="#icon-mat"></use></svg>
                <span class="icon-text">450</span>
              </i>
              <i>
                <svg class="icon icon-mingel" viewBox="0 0 32 32"><use xlink:href="#icon-mingel"></use></svg>
                <span class="icon-text">450</span>
              </i>
              <i>
                <svg class="icon icon-logi" viewBox="0 0 32 32"><use xlink:href="#icon-logi"></use></svg>
                <span class="icon-text">50</span>
              </i>
            </div>
            <div class="arrowcontainer show-for-medium-up"><div class="arrow"></div></div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" data-dropdown="sort" class="sort button dropdown">Sortera</a><br>
          <ul id="sort" data-dropdown-content class="f-dropdown">
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
          </ul>
        </div>
      </div>

      <div data-equalizer>
        <div class="panel small-12 medium-6 large-12 columns" data-equalizer-watch>
          <a href="#" data-reveal-id="profileside">
            <div class="thumbnail large-2 columns show-for-large-up">
              <img src="http://placehold.it/150x150" alt="">
            </div>
            <div class="informationbox small-12 medium-12 large-10 columns">
              <img src="http://placehold.it/100x100" alt="" class="thumbnailsmall show-for-medium-only right">
              <h2>Carola</h2>
              <p class="location">Stockholm, Sweden</p>
              <p class="">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
              <i>
                <svg class="icon icon-foretagsevent" viewBox="0 0 32 32"><use xlink:href="#icon-foretagsevent"></use></svg>
                <span class="icon-text">JA</span>
              </i>
              <i>
                <svg class="icon icon-privat" viewBox="0 0 32 32"><use xlink:href="#icon-privat"></use></svg>
                <span class="icon-text">NEJ</span>
              </i>
            </div>
            <div class="arrowcontainer show-for-medium-up"><div class="arrow"></div></div>
          </a>
        </div>

        <div class="panel small-12 medium-6 large-12 columns" data-equalizer-watch>
          <a href="#" data-reveal-id="profileside">
            <div class="thumbnail large-2 columns show-for-large-up">
              <img src="http://placehold.it/150x150" alt="">
            </div>
            <div class="informationbox small-12 medium-12 large-10 columns">
              <img src="http://placehold.it/100x100" alt="" class="thumbnailsmall show-for-medium-only right">
              <h2>Carola</h2>
              <p class="location">Stockholm, Sweden</p>
              <p class="">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            </div>
            <div class="arrowcontainer show-for-medium-up"><div class="arrow"></div></div>
          </a>
        </div>
      </div>

      <div data-equalizer>
        <!-- Halv kolumn (large) -->
        <div class="panel small-12 medium-6 large-6 columns" data-equalizer-watch>
          <a href="#" data-reveal-id="profileside">
            <div class="informationbox small-12 medium-12 large-12 columns">
              <img src="http://placehold.it/100x100" alt="" class="thumbnailsmall show-for-medium-up right">
              <h2>Carola</h2>
              <p class="location">Stockholm, Sweden</p>
              <p class="">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            </div>
            <div class="arrowcontainer show-for-medium-up"><div class="arrow"></div></div>
          </a>
        </div>

        <!-- Halv kolumn (large) -->
        <div class="panel small-12 medium-6 large-6 columns" data-equalizer-watch>
          <a href="#" data-reveal-id="profileside">
            <div class="informationbox small-12 medium-12 large-12 columns">
              <img src="http://placehold.it/100x100" alt="" class="thumbnailsmall show-for-medium-up right">
              <h2>Carola</h2>
              <p class="location">Stockholm, Sweden</p>
              <p class="">Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
              <i>
                <svg class="icon icon-foretagsevent" viewBox="0 0 32 32"><use xlink:href="#icon-foretagsevent"></use></svg>
                <span class="icon-text">JA</span>
              </i>
              <i>
                <svg class="icon icon-privat" viewBox="0 0 32 32"><use xlink:href="#icon-privat"></use></svg>
                <span class="icon-text">NEJ</span>
              </i>
            </div>
            <div class="arrowcontainer show-for-medium-up"><div class="arrow"></div></div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" class="hits">
          <h2>Carola</h2>
          <p>Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <a href="#" class="hits">
          <h2>Carola</h2>
          <p>Carola lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
          </a>
        </div>
      </div>

  </div>

</section>
<!-- Main content end -->