---
title: Eventmarket
---

<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <aside class="left-off-canvas-menu">
        <!-- whatever you want goes here -->
        <ul>
          <li><a href="#">Item 1</a></li>
        ...
        </ul>
    </aside>
    <aside class="right-off-canvas-menu">
      <div class="ribbon">Event</div>
      <div class="ribbon">Event</div>
      <div class="ribbon">Event</div>
      <div class="ribbon">Event</div>
      <ul class="off-canvas-list">
        <li><a href="#">Startsida</a></li>
        <li><a href="#">Om Eventmarket</a></li>
        <li><a href="#">Annonsera</a></li>
        <li><a href="#">Tips & råd</a></li>
        <li><a href="#">Erbjudanden</a></li>
        <li><a href="#">Julerbjudanden</a></li>
        <li><a href="#">Redaktionen</a></li>
        <li><a href="#">Bildarkivet</a></li>
        <li><a href="#">Kontakta oss</a></li>
        <li><a href="#"></a></li>
        <li><a href="#">Skicka öppen förfrågan</a></li>
        <li><a href="#">Registrera dig för nyhetsbrev</a></li>
      </ul>
    </aside>
    <header>
      <div class="upper-nav clearfix">
          <div class="row">
            <div class="small-12 large-8 columns">
              <img src="/images/logo-white.svg" class="logo">
            </div>
            <div class="large-3 columns show-for-large-up">
              <form id="desktop-search">
                <div class="row collapse">
                  <div class="small-10 columns">
                    <input type="text" placeholder="Sök inom eventbranchen">
                  </div>
                  <div class="small-2 columns">
                    <a href="#" class="button postfix">Sök</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      <div class="nav-wrap">
        <div class="container">
          <nav class="top-bar" data-topbar>
            <ul class="title-area hide">
              <li class="name">
                <h1><a href="#">My Site</a></h1>
              </li>
            </ul>
              <a class="left-off-canvas-toggle menu-icon left hide-for-large-up"><span></span></a>
            <section class="top-bar-section show-for-large-up">
              <!-- Left Nav Section -->
              <ul class="left">
                <li class="active"><a href="#" class="event">Event</a></li>
                <li class=""><a href="#" class="conference">Konferens</a></li>
                <li class=""><a href="#" class="tickets">Biljett</a></li>
                <li class="has-dropdown last">
                  <a href="#">Backstage</a>
                  <ul class="dropdown">
                    <li><a href="#">First link in dropdown</a></li>
                  </ul>
                </li>
              </ul>
            </section>
            <div class="left-small">
              <ul>
                <li><a class="right-off-canvas-toggle menu-icon right nav-icon"><span></span></a></li>
                <li><a class="right-off-canvas-toggle menu-icon right nav-icon"><span></span></a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <!-- Hero -->
    <section class="hero">
      <div class="row">
        <div class="small-12 columns">
          <h1>Boka<br>Biljetter</h1>
        </div>
      </div>
    </section>
    <!-- Hero end -->

    <!-- Main content -->
    <section class="main-content container">

      <div class="row">
        <div class="large-2 columns show-for-large-up">
          <section class="eventlist">
            <h2>Event</h2>
            <ul class="side-nav event">
              <li><div class="ribbon sidenav"><a href="#">Aktviteter</a></div></li>
              <li><div class="ribbon sidenav"><a href="#">Arrangörer</a></div></li>
              <li><div class="ribbon sidenav"><a href="#">Underhållning</a></div></li>
              <li><div class="ribbon sidenav"><a href="#">Föreläsare &amp; Talare</a></div></li>
              <li><div class="ribbon sidenav"><a href="#">Catering</div></a></li>
              <li><div class="ribbon sidenav"><a href="#">Event &amp; Mötesplatser</a></div></li>
              <li><div class="ribbon sidenav"><a href="#">Konferenslokaler</a></div></li>
              <li><div class="ribbon sidenav"><a href="#">Personal &amp; Tjänster</a></div></li>
              <li><div class="ribbon sidenav"><a href="#">Expo</a></div></li>
              <li><div class="ribbon sidenav"><a href="#">Transporter</a></div></li>
              <li><div class="ribbon sidenav"><a href="#">Teknik</a></div></li>
              <li><div class="ribbon sidenav"><a href="#">Uthyrning</a></div></li>
              <li><div class="ribbon sidenav"><a href="#">Övrigt</a></div></li>
            </ul>
          </section>
        </div>

        <div class="medium-12 large-8 columns">
          <div class="show-for-large-up">
            <h1>Välkommen</h1>
            <p class="tagline">Här hittar du hela sveriges event &amp; mötesvranch. Artister, talare, arrangörer och uthyrningsföretag såväl som festlokaler, konferensanläggninar, expo och övriga eventleverantörer...</p>
          </div>
          <ul class="small-block-grid-1 medium-block-grid-2">
            <li>
              <a class="th blocklink" href="#">
                <div class="title"><h2>Event</h2></div>
                <img src="http://placehold.it/700x700">
                <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
              </a>
            </li>
            <li>
              <a class="th blocklink" href="#">
                <div class="title conference"><h2>Konferens</h2></div>
                <img src="http://placehold.it/700x700">
                <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
              </a>
            </li>
            <li>
              <a class="th blocklink" href="#">
                <div class="title ticket"><h2>Biljett</h2></div>
                <img src="http://placehold.it/700x700">
                <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
              </a>
            </li>
            <li>
              <a class="th blocklink" href="#">
                <div class="title backstage"><h2>Backstage</h2></div>
                <img src="http://placehold.it/700x700">
                <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
              </a>
            </li>
          </ul>
        </div>

        <div class="large-2 columns show-for-large-up">
          <section class="editorial">
            <h2>Redaktionen</h3>
            <ul class="small-block-grid-1">
              <li>
                <h3>Veckans Vykort</h3>
                <p>Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler.</p>
                <a href="#">Läs mer...</a>
              </li>
              <li>
                <h3>Veckans Vykort</h3>
                <p>Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler.</p>
                <a href="#">Läs mer...</a>
              </li>
              <li>
                <h3>Veckans Vykort</h3>
                <p>Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler.</p>
                <a href="#">Läs mer...</a>
              </li>
              <li>
                <h3>Veckans Vykort</h3>
                <p>Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler.</p>
                <a href="#">Läs mer...</a>
              </li>
            </ul>
            <div class="morecontent">
              <a href="#">&raquo; Se fler inlägg</a>
            </div>
          </section>
        </div>
      </div>
    </section>
    <!-- Main content end -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="small-12 large-2 columns">
            <ul class="footerribbon">
              <li><div class="ribbon footer">Event</div></li>
              <li><div class="ribbon footer conference">Konferens</div></li>
              <li><div class="ribbon footer ticket">Biljett</div></li>
              <li><div class="ribbon footer backstage">Backstage</div></li>
            </ul>
          </div>
          <div class="large-3 columns show-for-large-up">
            <ul class="footerlink">
              <li><a href="#">Startsida</a></li>
              <li><a href="#">Om Eventmarket</a></li>
              <li><a href="#">Annonsera</a></li>
              <li><a href="#">Kontakta oss</a></li>
            </ul>
          </div>
          <div class="large-3 columns show-for-large-up">
            <ul class="footerlink">
              <li><a href="#">Tips &amp; Råd</a></li>
              <li><a href="#">Redaktionen</a></li>
              <li><a href="#">Bildarkiv</a></li>
              <li><a href="#">Registrera din mailadress</a></li>
            </ul>
          </div>
          <div class="large-3 columns show-for-large-up">
            <ul class="footerlink">
              <li><a href="#">Skicka öppen förfrågan</a></li>
              <li><a href="#">Erbjudanden</a></li>
              <li><a href="#">Backstage</a></li>
            </ul>
          </div>
          <div class="large-1 columns">
            
          </div>
        </div>

        <div class="row hide-for-large-up">
          <div class="small-10 small-offset-2">
            <img src="/images/logo-white.svg" class="logo">
          </div>
        </div>

        <div class="row legalnotice hide-for-large-up">
          <div class="small-12 columns">
            <p class="legalnotice">Copyright © 2013 Eventmarket.<br>Alla rättigheter förbehålls.</p>
          </div>
        </div>

        <hr class="show-for-large-up">

        <div class="row">
          <div class="large-12 column show-for-large-up">
            <ul class="horizontallist">
              <li>Eventmarket Svenska AB</li>
              <li>Västerlånggatan 1</li>
              <li>732 30 Arboga</li>
              <li class="phone">0589-180 95</li>
              <li><a href="#">info@eventmarket.com</a></li>
              <li>org.nr: 556550-4015</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>