---
title: Eventmarket
---

<section class="hero">
  <div class="row">
    <div class="container">
      <ul class="hero-orbit" data-orbit data-options="bullets:false; timer: false; slide_number: false;">
        <li>
          <img src="http://placehold.it/1440x400" alt="slide 1" />
          <h1>Boka<br>Biljetter</h1>
          <p class="show-for-large-up">Sökportal inom event, möte,<br>upplevelse och expo</p>
        </li>
        <li>
          <img src="http://placehold.it/1440x400" alt="slide 2" />
          <h1>hej<br>san</h1>
        </li>
        <li>
          <img src="http://placehold.it/1440x400" alt="slide 3" />
        </li>
      </ul>
    </div>
    <div class="small-12 columns hide-for-medium-up gradientbg">
      <ul class="footerribbon">
        <li><a href="#"><div class="ribbon footer">Event</div></a></li>
        <li><a href="/conference.html"><div class="ribbon footer conferenceribbon">Konferens</div></a></li>
        <li><a href="#"><div class="ribbon footer ticketribbon">Biljett</div></a></li>
        <li><a href="#"><div class="ribbon footer backstageribbon">Backstage</div></a></li>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="main-content container">

  <div class="row">
    <div class="large-3 columns show-for-large-up" id="listaside">
      <section class="sidelist">
        <h2>Event</h2>
        <ul class="side-nav event">
          <li><div class="ribbon sidenav"><a href="#">Aktviteter</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Arrangörer</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Underhållning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Föreläsare &amp; Talare</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Catering</div></a></li>
          <li><div class="ribbon sidenav"><a href="#">Event &amp; Mötesplatser</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Konferenslokaler</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Personal &amp; Tjänster</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Expo</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Transporter</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Teknik</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Uthyrning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Övrigt</a></div></li>
        </ul>
      </section>
    </div>

    <div class="small-12 medium-12 large-6 columns">
      <h1>Välkommen</h1>
      <p class="tagline">Eventmarket är sökportalen inom, event, konferens &amp; biljett. Dvs. direktkontakter till Sveriges artister, arrangörer och övriga eventleverantörer, lokaler &amp; platser för konferens samt festligheter och inte minst mängder av bokningsbara nöjen...
      <br>
      <a href="">&raquo; Visa mer</a></p>
      <ul class="small-block-grid-1 medium-block-grid-2">
        <li>
          <a class="th blocklink" href="#">
            <div class="title"><h2>Event</h2></div>
            <img src="http://placehold.it/700x700">
            <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
          </a>
        </li>
        <li>
          <a class="th blocklink" href="#">
            <div class="title conference"><h2>Konferens</h2></div>
            <img src="http://placehold.it/700x700">
            <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
          </a>
        </li>
        <li>
          <a class="th blocklink" href="#">
            <div class="title ticket"><h2>Biljett</h2></div>
            <img src="http://placehold.it/700x700">
            <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
          </a>
        </li>
        <li>
          <a class="th blocklink" href="#">
            <div class="title backstage"><h2>Backstage</h2></div>
            <img src="http://placehold.it/700x700">
            <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
          </a>
        </li>
      </ul>
    </div>

    <div class="small-12 medium-12 large-3 columns">
      <section class="editorial">
        <h2>Redaktionen</h3>
        <ul class="small-block-grid-1">
          <li>
            <h3>Veckans Vykort</h3>
            <p>Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler.</p>
            <a href="#">Läs mer...</a>
          </li>
          <li>
            <h3>Veckans Vykort</h3>
            <p>Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler.</p>
            <a href="#">Läs mer...</a>
          </li>
          <li>
            <h3>Veckans Vykort</h3>
            <p>Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler.</p>
            <a href="#">Läs mer...</a>
          </li>
          <li>
            <h3>Veckans Vykort</h3>
            <p>Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler.</p>
            <a href="#">Läs mer...</a>
          </li>
          <li>
            <h3>Veckans Vykort</h3>
            <p>Eventmarket.com erbjuder enkla sökfunktioner och direktkontakter till ett brett utbud av Sveriges artister, möteslokaler.</p>
            <a href="#">Läs mer...</a>
          </li>
        </ul>
        <div class="morecontent">
          <a href="#">&raquo; Se fler inlägg</a>
        </div>
      </section>
    </div>
  </div>
</section>
<!-- Main content end -->