---
title: Infosida
---

<!-- Main content -->
<section class="main-content container">

  <div class="row">
    <div class="large-3 columns show-for-large-up" id="listaside">
      <section class="sidelist">
        <h2>Event</h2>
        <ul class="side-nav event">
          <li><div class="ribbon sidenav"><a href="#">Aktviteter</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Arrangörer</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Underhållning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Föreläsare &amp; Talare</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Catering</div></a></li>
          <li><div class="ribbon sidenav"><a href="#">Event &amp; Mötesplatser</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Konferenslokaler</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Personal &amp; Tjänster</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Expo</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Transporter</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Teknik</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Uthyrning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Övrigt</a></div></li>
        </ul>
      </section>
    </div>

    <div class="small-12 medium-12 large-9 columns">
      <img src="http://placehold.it/500x300" class="photo right">
      <h1>Infosida</h1>
      <p>Vill du ha hjälp att hitta rätt i sökportalen? Eller vill du annonsera och hitta nya kunder här? Varmt välkommen att kontakta oss! Vi finns på plats vardagar 9.00 - 17.00 (lunch 12-13).</p>
      <p>Med stepp, sång och showdans i bagaget ansvarar Jennie sedan starten -98 för Eventmarket Svenska AB's marknadsföring och företagets utveckling, säljer annonsering, sköter kundsupport och mässarrangemang. Företaget ägs &amp; drivs tillsammans med kollegan &amp; kära maken Johnny. På fritiden agerar hon allt som oftast hockeyspeaker i Västerås ishall, älskar sommarstugan vid sjön och bakar bullar så ofta tid ges. En annan bästis är symaskinen och packar med tyg!</p>
      <p>Ögonstenarna i livet är de utflugna sönerna Victor, 23 &amp; Charlie, 20. Det bästa som finns är när familjen är samlad... och när sajten rullar.</p>
      <p>Med rötterna i Finland, skolåren i Arboga och efter några års studerande i Italien blev det sedemera även italiensk fru och barn. Efter ytterligare år i Arboga och några mellanår i Malmo, bor Toni idag med familjen på Malta (!) där han jobbar för eventmarket.com. Vårt alldeles egna Mumintroll har varit säljare på eventmarket sen 2003, vilket vi på huvudkontoret är mycket glada för! Fritiden ägnar Toni till familj, vänner och en stor portion av den Italienska, och numer även den Maltesiska kulturen och maten. OBS! Samtalskostnaden till soliga Malta ör samma som att ringa ett lokalt Sverigesamtal. Teknikens Under!</p>
    </div>

  </div>
</section>
<!-- Main content end -->