---
title: Medlemstips
---

<div class="row hide-for-large-up">
  <div class="small-12 columns profileinformation">
    <dl class="accordion">
      <dd>
        <a href="/backstage.html" class="gradientbutton">Backstage Startsida</a>
      </dd>
      <dd class="active">
        <a href="/membertips.html" class="gradientbutton">Medlems-Tips</a>
      </dd>
    </dl>
  </div>
</div>

<!-- Main content -->
<section class="main-content container">

  <div class="row">
    <div class="large-3 columns show-for-large-up" id="listaside">
      <section class="sidelist">
        <h2>Event</h2>
        <ul class="side-nav event">
          <li><div class="ribbon sidenav"><a href="/backstage.html">Backstage Startsida</a></div></li>
          <li><div class="ribbon sidenav"><a href="/membertips.html">Medlems-Tips</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Öppna Förfrågningar</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Exponering</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Uppdatera / Logga In</div></a></li>
          <li><div class="ribbon sidenav"><a href="#">Statistik</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Medlemsuppgifter</a></div></li>
        </ul>
      </section>
    </div>

    <div class="small-12 medium-12 large-9 columns">
      <h1>Medlemstips</h1>
      <p>Här samlar vi bra tips för dig som är medlem på eventmarket. Tips på extra exponering, kampanjer, mässor och annat värdefullt för dig som är aktör inom event, mötes &amp; upplevelse industrin.</p>
      
      <div class="panel small-12 columns">
        <a href="#">
          <div class="headercontainer small-12 columns">
            <h5>Påsk-lotteriet efterlyser vinster</h5>
          </div>
          <div class="informationbox small-12 medium-12 large-12 columns">
            <img class="thumbnail right" src="http://placehold.it/80x80">
            <p>Påsken närmar sig! Efter julens succé med Julklapps-lotteri i Eventmarkets online Julkalender, så känner vi att det är dags igen! Denna gång kommer vi lotta ut fina priser...</p>
            <a href="#">&raquo; Läs mer</a>
          </div>
        </a>
      </div>

      <div class="panel small-12 columns">
        <a href="#">
          <div class="headercontainer small-12 columns">
            <h5>Boka ett partnermail</h5>
          </div>
          <div class="informationbox small-12 medium-12 large-12 columns">
            <p>Dur når drygt 20.000 mottagare med 100% fokus på endast ditt egna budskap...</p>
            <a href="#">&raquo; Läs mer</a>
          </div>
        </a>
      </div>

      <div class="panel small-12 columns">
        <a href="#">
          <div class="headercontainer small-12 columns">
            <h5>Tipsa oss om nyheter</h5>
          </div>
          <div class="informationbox small-12 medium-12 large-12 columns">
            <img class="thumbnail right" src="http://placehold.it/80x80">
            <p>Tipsa oss om era nyheter och händelser. Inläggen visas i Redaktionen och visas gratis i en månad. Bra exponering!</p>
            <a href="#">&raquo; Läs mer</a>
          </div>
        </a>
      </div>

      <div class="panel small-12 columns">
        <a href="#">
          <div class="headercontainer small-12 columns">
            <h5>Gilla oss på facebook</h5>
          </div>
          <div class="informationbox small-12 medium-12 large-12 columns">
            <img class="thumbnail right" src="http://placehold.it/80x80">
            <p>Följ oss gärna på vår facebooksida och glöm inte att gilla oss! På vår facebooksida kan du delta i tävlingar, utlottningar och se aktuella händelser.</p>
            <a href="#">&raquo; Läs mer</a>
          </div>
        </a>
      </div>

  </div>
</section>
<!-- Main content end -->

<div class="row hide-for-large-up">
  <div class="small-12 columns profileinformation">
    <dl class="accordion">
      <dd>
        <a href="#" class="gradientbutton">Öppna Förfrågningar</a>
      </dd>
      <dd>
        <a href="#" class="gradientbutton">Exponering</a>
      </dd>
      <dd>
        <a href="#" class="gradientbutton">Uppdatera / Logga In</a>
      </dd>
      <dd>
        <a href="#" class="gradientbutton">Statistik</a>
      </dd>
      <dd>
        <a href="#" class="gradientbutton">Medlemstuppgifter</a>
      </dd>
    </dl>
  </div>
  <div class="logout small-12 columns">
    <a href="#" class="logout">&raquo; Logga ut</a>
  </div>
</div>