---
title: Erbjudanden
---

<section class="hero">
  <div class="row">
    <div class="small-12 columns">
      <h1>Erbjudanden</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-4 medium-7 columns">
      <p>Här hittar du intressanta ebjudanden från medlemmarna på eventmarket.</p>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="main-content container">

  <div class="row">
    <div class="large-2 medium-3 small-12 columns">
      <a href="#" data-dropdown="sort" class="sort button dropdown">Sortera</a><br>
      <ul id="sort" data-dropdown-content class="f-dropdown">
        <li><a href="#">Från start</a></li>
        <li><a href="#">Senast inlagda</a></li>
        <li><a href="#">Mest visade</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
        <li>
          <a class="th blocklink" href="#">
            <img src="http://placehold.it/700x700">
            <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
          </a>
        </li>
        <li>
          <a class="th blocklink" href="#">
            <img src="http://placehold.it/700x700">
            <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
          </a>
        </li>
        <li>
          <a class="th blocklink" href="#">
            <img src="http://placehold.it/700x700">
            <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
          </a>
        </li>
        <li>
          <a class="th blocklink" href="#">
            <img src="http://placehold.it/700x700">
            <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- Main content end -->