---
title: Teater och Underhållning
---

<div class="row hide-for-large-up">
  <div class="small-12 columns profileinformation">
    <dl class="accordion">
      <dd>
        <a href="tickets.html" class="gradientbutton">Biljett Startsida</a>
      </dd>
      <dd>
        <a href="#" class="gradientbutton">Musik</a>
      </dd>
      <dd>
        <a href="#" class="gradientbutton">Sport</a>
      </dd>
      <dd class="active">
        <a href="theaterentertainment.html" class="gradientbutton">Teater &amp; underhållning</a>
      </dd>
    </dl>
  </div>
</div>

<!-- Main content -->
<section class="main-content container">

  <div class="row">
    <div class="large-3 columns show-for-large-up" id="listaside">
      <section class="sidelist">
        <ul class="side-nav event">
          <li><div class="ribbon sidenav"><a href="tickets.html">Biljett Startsida</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Musik</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Sport</a></div></li>
          <li><div class="ribbon sidenav"><a href="theaterentertainment.html">Teater &amp; Underhållning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Familj</div></a></li>
          <li><div class="ribbon sidenav"><a href="#">Festivaler</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Mässor &amp; Utställningar</a></div></li>
        </ul>
      </section>
    </div>

    <div class="small-12 large-9 columns">
      <form id="ticket-search">
        <div class="row collapse">
          <div class="small-10 columns">
            <input type="text">
          </div>
          <div class="small-2 columns">
            <a href="#" class="button postfix ticketsearch">Sök</a>
          </div>
        </div>
      </form>
    </div>

    <div class="small-12 medium-12 large-9 columns">
      <div class="filteringbar row">
        <div class="small-7 medium-3 large-6 columns">
          <h5>Filtrera: <br class="hide-for-medium-up">Teater &amp; Underhållning</h5>
        </div>
        <div class="buttoncontainer small-5 medium-3 large-2 columns text-right">
          <a href="#" data-dropdown="sort" class="sort button dropdown">Teater &amp;..</a><br>
          <ul id="sort" data-dropdown-content class="f-dropdown">
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
          </ul>
        </div>
        <div class="buttoncontainer small-5 medium-3 large-2 columns text-right">
          <a href="#" data-dropdown="date" class="sort button dropdown">Datum</a><br>
          <ul id="date" data-dropdown-content class="f-dropdown">
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
          </ul>
        </div>
        <div class="buttoncontainer small-5 medium-3 large-2 columns text-right">
          <a href="#" data-dropdown="location" class="sort button dropdown">Orter</a><br>
          <ul id="location" data-dropdown-content class="f-dropdown">
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
            <li><a href="#">Från start</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="small-12 medium-12 large-9 columns">
      <table>
        <thead>
          <tr>
            <th width="200">Datum</th>
            <th>Evenemang</th>
            <th width="250">Plats</th>
            <th width="100">Läs mer / Boka</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="row">
                <div class="small-12 medium-4 columns">
                  <h3>23</h3>
                </div>
                <div class="small-12 medium-4 columns">
                  <b>Okt<br>2013</b>
                </div>
                <div class="small-12 medium-4 columns">
                  <b>Ons<br>19:00</b>
                </div>
              </div>
            </td>
            <td>
              <div class="row">
                <div class="small-12 columns">
                  <b>Ladies Night</b>
                </div>
              </div>
            </td>
            <td>
              <div class="row">
                <div class="small-12 columns">
                  <b>Aros Congress Center</b><br>
                  <span class="uc">Västerås</span><br>
                  Sweden
                </div>
              </div></td>
            <td>
              <div class="row">
                <div class="small-12 columns">
                  <a href="#" data-reveal-id="ticketModal"><div class="arrow"></div></a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="row">
                <div class="small-12 medium-4 columns">
                  <h3>23</h3>
                </div>
                <div class="small-12 medium-4 columns">
                  <b>Okt<br>2013</b>
                </div>
                <div class="small-12 medium-4 columns">
                  <b>Ons<br>19:00</b>
                </div>
              </div>
            </td>
            <td>
              <div class="row">
                <div class="small-12 columns">
                  <b>Ladies Night</b>
                </div>
              </div>
            </td>
            <td>
              <div class="row">
                <div class="small-12 columns">
                  <b>Aros Congress Center</b><br>
                  <span class="uc">Västerås</span><br>
                  Sweden
                </div>
              </div></td>
            <td>
              <div class="row">
                <div class="small-12 columns">
                  <a href="#"><div class="arrow"></div></a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Content Goes Here</td>
            <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>
<!-- Main content end -->

<div class="row hide-for-large-up">
  <div class="small-12 columns profileinformation">
    <dl class="accordion">
      <dd>
        <a href="#" class="gradientbutton">Familj</a>
      </dd>
      <dd>
        <a href="#" class="gradientbutton">Festivaler</a>
      </dd>
      <dd>
        <a href="#" class="gradientbutton">Mässor &amp; utställningar</a>
      </dd>
    </dl>
  </div>
</div>

<div id="ticketModal" class="ticket-modal reveal-modal medium" data-reveal>
  <div class="row header padding15">
    <div class="small-2 medium-2 large-1 columns"><h2>23</h2></div>
    <div class="small-2 medium-2 large-1 columns"><p>Okt<br>2013</p></div>
    <div class="small-2 medium-2 large-1 columns"><p>Ons<br>19:00</p></div>
    <div class="small-6 medium-6 large-9 columns"><h2>Ladies Night</h2></div>
  </div>
  <div class="row padding15">
    <div class="small-12 medium-12 large-9 columns">
      <p>
        <b>Aros Congress center</b><br>
        <span class="uc">Västerås</span><br>
        Sweden
      </p>
      <p>Årets roligaste tjejfest!<br>
      Ladies Night bjuder för åttonde året i rad på mingel, förfest, party och show.</p>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <img src="http://placehold.it/300x300" class="show-for-large-up">
      <div class="cutoutribbon"><a href="#">Köp biljetter</a></div>
    </div>
  </div>
  <div class="row">
    <div class="tabscontainer small-12 columns">
      <dl class="tabs profilenav" data-tab>
          <dd class="active"><a href="#presentation" class="text-center">Mer Info</a></dd>
          <dd><a href="#extraheader" class="text-center">Priser</a></dd>
          <dd><a href="#offer" class="text-center">Fler Datum</a></dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" id="presentation">
            <p>First panel content goes here...</p>
          </div>
          <div class="content" id="extraheader">
            <p>Second panel content goes here...</p>
          </div>
          <div class="content" id="offer">
            <table>
              <thead>
                <tr>
                  <th width="200">Datum</th>
                  <th>Evenemang</th>
                  <th width="250">Plats</th>
                  <th width="100"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="row">
                      <div class="small-12 medium-4 columns">
                        <h3>23</h3>
                      </div>
                      <div class="small-12 medium-4 columns">
                        <b>Okt<br>2013</b>
                      </div>
                      <div class="small-12 medium-4 columns">
                        <b>Ons<br>19:00</b>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <b>Ladies Night</b>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <b>Aros Congress Center</b><br>
                        <span class="uc">Västerås</span><br>
                        Sweden
                      </div>
                    </div></td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <a href="#" data-reveal-id="ticketModal"><div class="arrow"></div></a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="row">
                      <div class="small-12 medium-4 columns">
                        <h3>23</h3>
                      </div>
                      <div class="small-12 medium-4 columns">
                        <b>Okt<br>2013</b>
                      </div>
                      <div class="small-12 medium-4 columns">
                        <b>Ons<br>19:00</b>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <b>Ladies Night</b>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <b>Aros Congress Center</b><br>
                        <span class="uc">Västerås</span><br>
                        Sweden
                      </div>
                    </div></td>
                  <td>
                    <div class="row">
                      <div class="small-12 columns">
                        <a href="#"><div class="arrow"></div></a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Content Goes Here</td>
                  <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                  <td>Content Goes Here</td>
                  <td>Content Goes Here</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>