---
title: Biljetter
---

<div class="row hide-for-large-up">
  <div class="small-12 columns profileinformation">
    <dl class="accordion">
      <dd class="active">
        <a href="tickets.html" class="gradientbutton">Biljett Startsida</a>
      </dd>
    </dl>
  </div>
</div>

<!-- Main content -->
<section class="main-content container">

  <div class="row">
    <div class="large-3 columns show-for-large-up" id="listaside">
      <section class="sidelist">
        <ul class="side-nav event">
          <li><div class="ribbon sidenav"><a href="tickets.html">Biljett Startsida</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Musik</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Sport</a></div></li>
          <li><div class="ribbon sidenav"><a href="theaterentertainment.html">Teater &amp; Underhållning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Familj</div></a></li>
          <li><div class="ribbon sidenav"><a href="#">Festivaler</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Mässor &amp; Utställningar</a></div></li>
        </ul>
      </section>
    </div>

    <div class="small-12 large-9 columns">
      <form id="ticket-search">
        <div class="row collapse">
          <div class="small-10 columns">
            <input type="text">
          </div>
          <div class="small-2 columns">
            <a href="#" class="button postfix ticketsearch">Sök</a>
          </div>
        </div>
      </form>
    </div>

    <div class="small-12 medium-12 large-9 columns">
      <h2>Välkommen till Eventmarket Biljett</h2>
      <p class="tagline">I samarbete med Ticnet presenterar vi här 1000-tals bokningsbara nöjen och evenemang. Förutom Ticnets biljetter hittar du även andra event som eventmarkets medlemmar ebjuder. Sök i sökrutan eller välj kategori för att lista aktuella nöjen.</p>
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        <li>
          <a class="th blocklink" href="#">
            <div class="title"><h2>Event</h2></div>
            <img src="http://placehold.it/700x700">
            <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
          </a>
        </li>
        <li>
          <a class="th blocklink" href="#">
            <div class="title conference"><h2>Konferens</h2></div>
            <img src="http://placehold.it/700x700">
            <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
          </a>
        </li>
        <li>
          <a class="th blocklink" href="#">
            <div class="title ticket"><h2>Biljett</h2></div>
            <img src="http://placehold.it/700x700">
            <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
          </a>
        </li>
        <li>
          <a class="th blocklink" href="#">
            <div class="title backstage"><h2>Backstage</h2></div>
            <img src="http://placehold.it/700x700">
            <div class="description"><p>Eventmarket.com erbjuder enkla sökmotorer.</p></div>
          </a>
        </li>
      </ul>
    </div>

  </div>
</section>
<!-- Main content end -->

<div class="row hide-for-large-up">
  <div class="small-12 columns profileinformation">
    <dl class="accordion">
      <dd>
        <a href="#" class="gradientbutton">Musik</a>
      </dd>
      <dd>
        <a href="#" class="gradientbutton">Sport</a>
      </dd>
      <dd>
        <a href="theaterentertainment.html" class="gradientbutton">Teater &amp; underhållning</a>
      </dd>
      <dd>
        <a href="#" class="gradientbutton">Familj</a>
      </dd>
      <dd>
        <a href="#" class="gradientbutton">Festivaler</a>
      </dd>
      <dd>
        <a href="#" class="gradientbutton">Mässor &amp; utställningar</a>
      </dd>
    </dl>
  </div>
</div>