---
title: Tips &amp; Råd
---

<!-- Main content -->
<section class="main-content container">

  <div class="row">
    <div class="large-3 columns show-for-large-up" id="listaside">
      <section class="sidelist">
        <h2>Event</h2>
        <ul class="side-nav event">
          <li><div class="ribbon sidenav"><a href="#">Aktviteter</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Arrangörer</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Underhållning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Föreläsare &amp; Talare</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Catering</div></a></li>
          <li><div class="ribbon sidenav"><a href="#">Event &amp; Mötesplatser</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Konferenslokaler</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Personal &amp; Tjänster</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Expo</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Transporter</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Teknik</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Uthyrning</a></div></li>
          <li><div class="ribbon sidenav"><a href="#">Övrigt</a></div></li>
        </ul>
      </section>
    </div>

    <div class="small-12 medium-12 large-9 columns">
      <h1>Tips &amp; Råd</h1>
      <p>Här på eventmarket.com hittar du inte bara leverantörer inom hela event-, mötes- &amp; upplevelsebranschen. Här hittar du även tips, information samt råd &amp; idéer inför fester, konfernser, mässor och tillställningar.</p>

      <div class="contentrow row">
        <div class="small-12 medium-3 large-3 columns">
          <img src="http://placehold.it/200x150">
        </div>
        <div class="small-12 medium-9 large-9 columns">
          <h3>Konferenstips</h3>
          <p>Det är mycket man skall tänka på när man planerar en konferens. Vilka skall delta? Vilka mål har vi? Vilket plats/anläggning skall vi välja?</p>
          <a href="#" class="uc">&raquo; Läs mer</a>
        </div>
      </div>
      <div class="contentrow row">
        <div class="small-12 medium-3 large-3 columns">
          <img src="http://placehold.it/200x150">
        </div>
        <div class="small-12 medium-9 large-9 columns">
          <h3>Lilla monterskolan</h3>
          <p>Under alla våra år med eventmarket.com har vi samlat på oss en hel del montererfarhenhet och mässrutiner. Dessa vill vi gärna dela med oss till er alla.</p>
          <a href="#" class="uc">&raquo; Läs mer</a>
        </div>
      </div>
      <div class="contentrow row">
        <div class="small-12 medium-3 large-3 columns">
          <img src="http://placehold.it/200x150">
        </div>
        <div class="small-12 medium-9 large-9 columns">
          <h3>Kräftskivan</h3>
          <p>På kräftskivan avstår vi etiketten. Här får man sörpla, suga och smaska samt spilla på sig! Och dessutom använda händerna.</p>
          <a href="#" class="uc">&raquo; Läs mer</a>
        </div>
      </div>
      <div class="contentrow row">
        <div class="small-12 medium-3 large-3 columns">
          <img src="http://placehold.it/200x150">
        </div>
        <div class="small-12 medium-9 large-9 columns">
          <h3>Recept</h3>
          <p><b>Ibland dyker vi på recept som vi bara måste få dela med oss av. Här har du några.</b></p>
          <a href="#" class="uc">&raquo; Läs mer</a>
        </div>
      </div>
      <div class="contentrow row">
        <div class="small-12 medium-3 large-3 columns">
          <img src="http://placehold.it/200x150">
        </div>
        <div class="small-12 medium-9 large-9 columns">
          <h3>Lite nöjes historia</h3>
          <p>Nalen i Stockholm var nöjesvärldens mecka under 50 &amp; 60 talet. Så här oss emellan kan jag avslöja att båda mina päron har varit med och skrivit historia just där.</p>
          <a href="#" class="uc">&raquo; Läs mer</a>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- Main content end -->